
@{
    ViewData["Title"] = "Student Involvement";
}

<h1 style="color: white">Student Involvement</h1>



<body>
    <!-- Pages -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%">
                    <img src="/images/student/research.png">
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="col">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body " style="text-align:center;">
                        <h5 class="card-title" style="font-size:xx-large;">UofL Student Achievements</h5>

                        <br />
                        <br />
                        <h5 class="card-text" style="text-align:center;">August 2019 Undergraduate Summer Research Poster Session</h5>
                        <hr class="new1" />

                        <a alt="aug2019UndergradSummerResearchVideo" href="https://www.youtube.com/watch?v=KkFJnbCygms&feature=youtu.be" class="btn btn-primary" style="width: 50%;">Video</a>
                        <br />
                        <br />
                        <a alt="aug2019UndergradSummerResearchTranscript" href="https://louisville.edu/research/students/transcripts/august-2019-undergraduate-summer-research-poster-session-video-transcript" class="btn btn-primary" style="width: 50%;">Download Video Transcript</a>
                        <br />
                        <h5 class="card-text">Summer Undergraduate Poster Session, August 3, 2016</h5>
                        <hr class="new1" />

                        <a alt="aug2016SummerPosterPhoto" href="https://www.flickr.com/photos/104819852@N04/albums/72157669791358264/with/28605970593/" class="btn btn-primary" style="width: 50%;">Photos</a>
                        <br />
                        <br />
                        <h5 class="card-text">March 2, 2017 Posters at the Capitol</h5>
                        <hr class="new1" />

                        <a alt="mar2017Posters" href="https://www.flickr.com/photos/104819852@N04/albums/72157679452202111" class="btn btn-primary" style="width: 50%;">Photos</a>
                        <br />
                        <br />
                        <h5 class="card-text">Students showcase research to legislators in 2012</h5>
                        <hr class="new1" />

                        <a alt="2012legislatorsVideo" href="https://youtu.be/HBF5bwAeYcA" class="btn btn-primary" style="width: 50%;">Video</a>
                        <br />
                        <a alt="2012legislatorsTranscript" href="https://louisville.edu/research/students/transcripts/posters-at-the-capitol-2012-transcript" class="btn btn-primary" style="width: 50%;">Download Video Transcript</a>
                        <br />
                        <br />
                        <h5 class="card-text">ACC Meeting of the Minds Conference (Undergraduate Research), April 1, 2017</h5>
                        <hr class="new1" />

                        <a alt="apr2017ACC" href="https://www.flickr.com/photos/104819852@N04/sets/72157678944032804" class="btn btn-primary" style="width: 50%;">Photos</a>
                        <br />
                        <br />
                        <h5 class="card-text">March 2017 Louis Stokes Alliance for Minority Participation Program Symposium (LSAMP)</h5>
                        <hr class="new1" />

                        <a alt="mar2017LouisStokes" href="https://www.flickr.com/photos/104819852@N04/albums/72157681285556376" class="btn btn-primary" style="width: 50%;">Photos</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:xx-large; text-align:center;">UofL Student Researches</h5>
                        <hr class="new1" />
                        <p class="card-text"></p>
                        <a alt="undergradResearches" href="http://louisville.edu/provost/ug-research" class="btn btn-primary">Explore UofL Student Researches</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>


