
@{
    ViewData["Title"] = "Main";
}

<link rel="stylesheet" href="site.css">


<h1>Community Main Page</h1>
<br />
<br />

<h3 alt="3"><strong>Create a Community Events or Fund a Projects</strong></h3>
<hr class="new1" />
<br />
<br />
<div class="row">

    <!--Event Creation Forms-->
    <div class="col">
        <div class="card">
            <div class="card-body text-dark">
                <h5 alt="Undergraduates" class="card-title"><strong>Event Creation Forms</strong></h5>
                <p class="card-text">Opporunities</p>
                <p class="card-text">Forms</p>
                <p class="card-text"> Other</p>
                <a alt="button" href="#" class="btn btn-danger">Create it Here</a>
            </div>
        </div>
    </div>

    <!--Fund an Existing Event-->
    <div class="col">
        <div class="card">
            <div class="card-body text-dark">
                <h5 alt="Graduates" class="card-title"><strong>Fund an Existing Event</strong></h5>
                <p class="card-text">Stipends</p>
                <p class="card-text">Forms</p>
                <p class="card-text">OSHA Regulations</p>
                <a alt="button" href="#" class="btn btn-danger"> Fund Here</a>
            </div>
        </div>
    </div>

    <!--Create a New Project-->
    <div class="col">
        <div class="card">
            <div class="card-body text-dark">
                <h5 alt="Assistance" class="card-title"><strong>Create a New Project</strong></h5>
                <p class="card-text">University of Louisville Policies </p>
                <p class="card-text">Forms Support</p>
                <p class="card-text"> Requirements</p>
                <a alt="button" href="#" class="btn btn-danger">More Information</a>
            </div>
        </div>
    </div>

    <!--Fund an Existing Project-->
    <div class="col">
        <div class="card">
            <div class="card-body text-dark">
                <h5 alt="Assistance" class="card-title"><strong>Fund Existing Project</strong></h5>
                <p class="card-text">University of Louisville Policies </p>
                <p class="card-text">Forms Support</p>
                <p class="card-text"> Requirements</p>
                <a alt="button" href="#" class="btn btn-danger">Fund Here</a>
            </div>
        </div>
    </div>

</div>
<br />
<br />


<h2> <strong>Community News</strong></h2>
<hr class="new1" />
<br />
<h4> What's going on in the U of L Research Community Partnerships!</h4>

<br />
<br />

<a href="#"><h4> <em>Click Here to Read Our Community Newsletter</em></h4> </a>
<br />
<br />


<h2><strong>Twitter Widget</strong></h2>
<hr class="new1" />
<br />
<br />
=======
<h3>Twitter Widget</h3>


<h2><strong>Future Community Events</strong></h2>
<hr class="new1" />
<br />
<br />
