

@{
    ViewData["Title"] = "Main";
}


<h1 style="color: white">Industry Main Page</h1>

<style>
  a:hover{color:black} 

</style>

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="site.css">

    <!-- Bootstrap core CSS -->
    <!--
     =======
    <h1 alt="Main Page title" style="text-align:center"><strong><em>Industry Partner</em></strong></h1>
     <br />
     <br />
     <br />
     <br />

     <h3 style="text-align:center" alt="Carousel Title"><strong><em>Collaborations</em></strong></h3>
     <hr class="new1" />
     <br />
     <br />

     <div class="row">
         <div class="col-12">

             <!--Carousel Setup-->
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
             <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

         </ol>
         <div class="carousel-inner">

             <!--Carousel Slider 1-->
    <!--  <div class="carousel-item active">
          <img class="d-block w-100" src="~/Images/Industry/UofL.png" alt="First slide">
      </div>
      >>>>>>> 92cd7bc9c5984dce9833dda15687bb1436985c0e
      </div>
      </div>
      -->

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%">
                    <img src="/images/Industry/SBIR.jpg">
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <a href="https://louisville.edu/research/innovation/industry" class=" btn btn-primary" style="font-size:30px; text-align:center;">Industry Request Form</a>
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;"><a href="http://louisville.edu/research/rdsi/industry/centers-institutes">Partnership</a></h5>
                        <hr class="new1" />
                        <p class="card-text"> Uofl Research Center</p>
                        <p class="card-text">Brown Center</p>
                        <p class="card-text"><a href="http://louisville.edu/research/rdsi/industry/sbir-sttr">SLRL</a></p>
                        <p class="card-text">American Association of University Women</p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Funding Opportunities</h5>
                        <hr class="new1" />
                        <p class="card-text"><a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/notices/amgen-foundation-grants" title="AgenFoundation">Amgen Foundation Grants</a></p>
                        <p class="card-text"><a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/notices/martin-delaney-collaboratories-for-hiv-cure-research-um1-clinical-trial-not-allowed" title="Martin">Martin Delaney Collaboratories for HIV Cure Research</a></p>
                        <p class="card-text"><a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/notices/partnerships-for-innovation-pfi"> Partnership for Innovation</a></p>
                        <a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/overview" class="btn btn-primary">More Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Private Funding Group</h5>
                        <hr class="new1" />
                        <p class="card-text"><a href="https://www.cof.org/"><strong>Council on Foundations </strong> </a>- Does not provide grants. Information here may be of interest to faculty and staff wishing to know more about private foundation funding.</p>
                        <p class="card-text">
                            <strong> The Foundation Center</strong> - The Foundation Center, now "Candid.org", is an independent nonprofit information clearinghouse established to foster
                            public understanding of the foundation field by collecting, organizing, analyzing, and disseminating information on foundations, corporate giving, and related subjects.
                        </p>

                        <a href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/foundations-non-profit-agencies" class="btn btn-primary">More Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <h3 style="color:white;">Individual Private Agency Homepages</h3>
    <hr class="new1" />
    <br />

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card.new1">
            <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                    <i class="fa fa-chevron-down pull-right"></i> American Association of University Women

                </a>
            </h5>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body text-light">
                    A national organization that promotes education and equity for all women and girls.
                </div>
            </div>
        </div>
        <div class="card.new1">
            <h5 class="card-header" role="tab" id="headingTwo" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-chevron-down pull-right"></i>  American Cancer Society
                </a>
            </h5>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body text-light">
                    Provides investigator-initiated and institutional grants for research and training related to the prevention and cure of cancer
                </div>
            </div>
        </div>
        <div class="card.new1">
            <h5 class="card-header" role="tab" id="headingThree" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-chevron-down pull-right"></i>  American Chemical Society
                </a>
            </h5>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body text-light">

                    Supports advanced scientific education and fundamental research in the "petroleum field," which may include any field of pure science that may afford a basis for subsequent applied research directly connected with petroleum.
                    <br>

                </div>
            </div>
        </div>
    </div>






</body>
</html>
