
@{
    ViewData["Title"] = "Main";
}

<h1>Office Location</h1>

<img src="~/Images/Map.png" alt="" />
<blockquote>

    <h3>Office Location</h3>
    <p>
        University of Louisville
    </p>
    <p>
        2301 S 3rd St
    </p>
    <p>
        Louisville, KY 40292
    </p>
</blockquote>

<h3>Office Hours</h3>
<p>Monday - Friday 8:30 AM - 4:30 PM </p>
<h3> Contact Number</h3>
<p>Phone: 502-XXX-XXXX</p>
<p>Fax: 502-XXX-XXX</p>
<p>Email:XXXX.louisville.edu</p>

