
@{
    ViewData["Title"] = "Main";
}
<h1 style="color: white">Industry Funding</h1>

<style>
    body {
        color: black;
    }

    .col-12 {
        color: rgb(139, 157, 161);
    }
</style>

<body>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:xx-large;">Selected Industry Funding Opportunities</h5>
                        <h3 class="card-text">Topic Areas:</h3>
                        <p class="card-text">Overview;.</p>
                        <p class="card-text">Deadline:</p>
                        <p class="card-text">Industry:</p>
                        <a href="#" class="btn btn-secondary">More Topics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:xx-large;">Selected Industry Funding Opportunities</h5>
                        <h3 class="card-text">Topic Areas:</h3>
                        <p class="card-text">Overview;.</p>
                        <p class="card-text">Deadline:</p>
                        <p class="card-text">Industry:</p>
                        <a href="#" class="btn btn-secondary">More Topics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:xx-large;">Selected Industry Funding Opportunities</h5>
                        <h3 class="card-text">Topic Areas:</h3>
                        <p class="card-text">Overview;.</p>
                        <p class="card-text">Deadline:</p>
                        <p class="card-text">Industry:</p>
                        <a href="#" class="btn btn-secondary">More Topics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
        
