
@{
    ViewData["Title"] = "Main";
}
<h1 style="color: white">Industry Funding</h1>

<img src="~/Images/Industry/Grant.jpg" />

<body>
   
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Selected Industry Funding Opportunities</h5>
                        <h3 class="card-text">Topic Areas:</h3>
                        <p class="card-text">Overview;.</p>
                        <p class="card-text">Deadline:</p>
                        <p class="card-text">Industry:</p>
                        <a href="https://louisville.edu/research/innovation/translational/funding" class="btn btn-primary">Funding Opportunities</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Selected Industry Funding Opportunities</h5>
                        <h3 class="card-text">Topic Areas:</h3>
                        <p class="card-text">Overview;.</p>
                        <p class="card-text">Deadline:</p>
                        <p class="card-text">Industry:</p>
                        <a href="#" class="btn btn-primary">More Topics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Selected Industry Funding Opportunities</h5>
                        <h3 class="card-text">Topic Areas:</h3>
                        <p class="card-text">Overview;.</p>
                        <p class="card-text">Deadline:</p>
                        <p class="card-text">Industry:</p>
                        <a href="#" class="btn btn-primary">More Topics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
        
