
@{
    ViewData["Title"] = "Main";
}
<h1 style="color: white">Industry Funding</h1>

<img src="~/Images/Industry/Grant.jpg" class="center" />

<body>
   <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">

                        <h3 class="card-text">The Council on Foundations Awards Program</h3>
                        <hr class="new1" />
                        <br />
                        <p class="card-text">
                            The Council's Awards Program has included four distinct awards that recognize excellence
                            in philanthropy: the Distinguished Service Award, the Robert W. Scrivner Award for Creative Grantmaking,
                            the Wilmer Shields Rich Award for Excellence in Communications and the newest addition, the Chapman Prize.
                        </p>
                        <p class="card-text">American Express Corporate Responsibility Program</p>
                        <p class="card-text">Leadership Development Grants</p>
                        <p class="card-text">Community Service Grants</p>
                        <p class="card-text">Place Perservation Grant</p>
                        <a href="https://www.cancer.org/research/we-fund-cancer-research/apply-research-grant.html" class="btn btn-primary">Learn More</a>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">

                        <h3 class="card-text">
                            
                               American Express Foundation Grants
                            
                        </h3>
                        <hr class="new1" />
                        <br />
                        <p>Field: Community Service, Cultural Heritage, and Economic Independence</p>
                        <p class="card-text">
                            To qualify for one of these programs, your organization must be tax exempt, need the grant
                            for a qualified activity, be in a prioritized location and meet other requirements. The process involves an initial online
                            appliction process before you hear back from American Express about submitting a project proposal.
                        </p>
                        <p class="card-text">The American Express Foundation provides funding for non-profit organisations whose activities aim to preserve and 
                        sustain unique historic places for the future, or those that 
                        implement educational activities to form a new generation of international leaders, or those that work with communities to encourage community service.</p>
                       
                        <a href="https://bizfluent.com/american-express-foundation-grants-5956.html" class="btn btn-primary">Learn More</a>
                    </div>

                </div>
                </div>
            </div>
        </div>
    

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h3 class="card-text">American Cancer Society</h3>
                        <hr class="new1" />
                        <br />

                        <p class="card-text">
                            Our grants program funds innovative research conducted by hundreds of scientists
                            and health care professionals – primarily early in their careers – at institutions nationwide.
                            Each grant application goes through an extensive scientific peer-review process. This strategy and process has 
                            helped support numerous 
                            important discoveries and some of the brightest researchers, including 49 Nobel Prize winners to date.
                        </p>
                        <p class="card-text">Field: Cancer</p>
                        
                        <a href="https://www.cancer.org/research/we-fund-cancer-research.html"class="btn btn-primary">Learn More</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
</body>
        
