
@{
    ViewData["Title"] = "Compliance";
}

<h1 style="color: white">Compliance and Protection</h1>
<style>
    body {
        color: black;
    }

    .col-12 {
        color: rgb(139, 157, 161);
    }

    .card-header {
        color: black;
    }

    .d-block {
        color: black;
    }
</style>

<br />
<br />
<h3 alt="Proposal Forms"><strong>Proposal Forms</strong></h3>
<hr class="new1" />
<br />
<br />
<div class="row">

    <!--General Proposals-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Proposal Forms" class="card-title"><strong>General Proposal</strong></h5>
                <p class="card-text"> <a href="https://louisville.edu/research/common/pcf-form" title="Proposal Clearance Form"><strong>Proposal Clearance Form (Word): - (Revised 08/25/2020)</strong></a> </p>
                <p class="card-text"><a href="https://louisville.edu/research/common/pcf-instructions" title="Grant/Contract Proposal"><strong>Grant/Contract Proposal (PCF) "Instructions"- (Revised 08/01/2020)</strong></a> </p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission instructions"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>

    <!--Contactor and Other-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Graduates" class="card-title"><strong>Contractor</strong></h5>
                <p class="card-text"><a href="https://louisville.edu/research/spa/subrecipient-monitoring/fdp-subrecipient-contractor-determination-checklist" title="Subaward/Contractor Determination for Federal Awards"><strong>Subaward/Contractor Determination for Federal Awards</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/forms/resolveuid/b68d1441fb164281bd3639bf419c88d7" title="Subrecipient Commitment Form and Instructions"><strong>Subrecipient Commitment Form and Instructions</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission Instructions"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>

    <!--F&A-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Assistance" class="card-title"><strong>F&A Forms</strong></h5>
                <p class="card-text"><a href="http://louisville.edu/research/common/f-a-reduction-cost-burdening-request-form" title="F&A Reduction/Cost-Burdening"><strong>F&A Reduction/Cost-Burdening Request Form - Word - (Revised 03/10/2015)</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/fa-rate-agreement" title="F&A Rate Agreement (PDF) - (2019)"><strong>F&A Rate Agreement (PDF) - (2019)</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission Instructions"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>



</div>
<br />
<br />