@{
    ViewData["Title"] = "Support";
}

<h1>Support Page</h1>

<br />
<br />
<div class="span6">
    <h3>Belknap Campus</h3>
    <p>Jouett Hall<br>University of Louisville<br>2301 S. Third Street<br>Louisville, KY&nbsp; 40292-0001<br>(40208 for UPS, FedEx)<br><strong>Phone:</strong>&nbsp;(502) 852-6512<br><strong><a class="email-link" href="mailto:evpri@louisville.edu" target="_self" title="EVPRI Service Account">Email:  EVPRI Service Account&nbsp;</a></strong></p>
    <br />
    <br />
    <h3>Health Sciences Campus</h3>
    <p>Atria Bldg<br>J.D. Nichols Campus for Innovation &amp; Entrepreneurship<br> 300 E. Market Street, Suite 300<br> Louisville, KY 40202-1959</p>
</div>


