
@{
    ViewData["Title"] = "Main";
}
<h1>Commercialization Support</h1>
<br />
<br />
<img src="~/Images/Industry/License Technology.png" class="center"/>
<br />
<br />
<br />
<div>
    <h2> Welcome to the University of Louisville Commercialization EPI-Center</h2>
    <hr class="new1" />
    <br>
    Welcome to the new University of Louisville Commercialization EPI-Center, which takes the ground-breaking discoveries created by innovators across UofL from mind to market.
    Our new office name describes the center of our focus: Commercialization, Entrepreneurship, Partnerships and Innovation. As UofL’s “epicenter” for commercialization, we will
    build on our past successes to seek and harness new resources aimed at helping our UofL innovators succeed.
    <br>
    <strong>Allen Morris, Director, Commercialization EPI-Center</strong>
</div>
<br />
<br />

<div>
    <h3><a href="http://louisville.edu/research/epi-center/commercialization/licensing"> Licenses</a></h3>
    <hr class="new1" />
    <br>
    The University of Louisville is dedicated to translating research from the lab to the market, where pioneering discoveries and innovations can positively impact society at-large.

    In many cases, the most efficient way to accomplish this transition involves licensing these innovations to external partners for their further development and commercialization.

    Our licensing process strives to provide the most flexible, individual deal-focused negotiations as possible within our limitations as a Kentucky public university. We craft deals that maximize the benefits for UofL, the creators, the licensee, and the public. We view licensing as an ongoing and engaging partnership, rather than a simple transaction.

    If you are interested in licensing a technology from us, or wish to learn about potential opportunities please contact EPI-Center staff. Likewise, if you are aware of a licensing opportunity and would like to let us know, please get in touch – we’re always happy to hear about interest in partnering with us and our researchers.
</div>
<br />
<br />

<h3><a href="http://louisville.edu/research/epi-center/commercialization/startups">Products and Tools</a></h3>
The Commercialization EPI-Center is dedicated to translating research-backed inventions into startups, products, and tools that have the potential to improve lives and change the world. The following start-up companies feature technologies that were invented at the University of Louisville.

<ul>
    <li><a href="advancedenergymat.com">Advanced Energy Material</a></li>
    <li><a href="arduro.co">Arduro Sustainable Rubber</a></li>
    <li><a href="autismdiagnostictechnology.com">Autism Diagnostic Technologies</a></li>
    <li><a href="https://powerneurorecovery.com/">Power NeuroRecovery</a></li>
    <li><a href="https://promisight.com/">Promisight</a></li>
</ul>

<br />
<br />
<div>
    <h3> Available Technolgies</h3>
    <hr class="new1" />
    <ul>
        <li>Examples</li>
        <li>Examples</li>
        <li>Examples</li>
        <li>Examples</li>
    </ul>
</div>
<br>