
@{
    ViewData["Title"] = "Main";
}

<h1>Industry Compliances</h1>

<link rel="stylesheet" href="site.css">

<p style="color: yellow">
    <strong>
        Please note: Individual schools and departments also may maintain additional policies.
        Such policies, however, do not override these university-wide policies.
    </strong>

<h3>Guideline</h3>    
<p>The Office of Research Development and Strategic Initiatives helps UofL faculty, staff and students work with industry to innovate and 
    solve problems through sponsored research.</p>
<p>If you are interested in establishing a relationship with an industry partner, please get in touch with us. 
    We’re happy to assist with not just research and service relationships, but also with establishing workforce 
    development and educational opportunity relationships. Just email us at 
    <a class="email-link" href="mailto:resdevel@louisville.edu" target="_blank" title="Research Development &amp; Strategic Initiatives">Research Development &amp; Strategic Initiatives</a>
    , and we’ll work with you to establish the desired relationship with the desired partner.</p>
<p>For more information on doing research with industry at UofL, please see our 
    <a class="external-link" href="https://louisville.edu/research/support/research-handbook/toc" target="_blank" title="Research Handbook">Research Handbook</a>. For more information on working with industry in general, please see <a class="external-link" href="https://www.uidp.org/publication/researcher-guidebook-and-quick-guide/" target="_blank" title="UIDP’s Research Guidebook">UIDP’s Research Guidebook (PDF)</a>
    . </p>

        
<h3><strong>Industry Engagement</strong></h3>
<a class="external-link=" href="/research/oie/forms-templates/oie-ulrf-reciprocal-nda-template">Reciprocal Non-Disclosure Agreement</a>
<br>
<a class="external-link=" href="/research/oie/forms-templates/oie-ulrf-std-sra-no-govt-flowthrough">Sponsored Research Agreement (Without Government Flowthrough)</a>
<br>
<a class="external-link=" href="/research/oie/forms-templates/oie-ulrf-std-sra-with-govt-flowthrough">Sponsored Research Agreement (With Government Flowthrough)</a>
<br>
<a class="external-link=" href="/research/oie/forms-templates/oie-service-agreement-template-no-govt-flowthrough">Service Agreement (Without Government Flowthrough)</a>
<br>
<a class="external-link=" href="/research/oie/forms-templates/oie-service-agreement-template-with-govt-flowthrough">Service Agreement (With Government Flowthrough)</a>
<p> </p>


<h3> Conflict of Interest</h3>
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>
