
@{
    ViewData["Title"] = "Main";
}

<style>


   
</style>

<h1>Industry Compliances</h1>

<br />
<br />

<p>
    <strong>
        Please note: Individual schools and departments also may maintain additional policies.
        Such policies, however, do not override these university-wide policies.
    </strong>
    <br />
    <br />

    <h3> Guidelines</h3>
    <hr class="new1" />
    <ul>
        <li><a href=~/Documents/What to Disclose - Business_A.pdf"> Business Disclosure Formss</a></li>
        <li><a href="http://louisville.edu/research/epi-center/innovations/non-disclosure-agreements-NDA"> Non-Disclosure Agreement</a></li>
        <li><a href="http://louisville.edu/research/epi-center/innovations/licensing-income-distribution-procedure">Licensing Income Distribution Procedure</a></li>
        <li><a href="https://louisville.edu/policies/policies-and-procedures/pageholder/pro-campus-sponsorship">Campus Sponsorship</a></li>
    </ul>

    <br />
    <br />


    <h3 style="color:white;"><a href="https://louisville.edu/research/oie/partnering/agreements">Agreements</a></h3>
    <hr class="new1" />
    <br />

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card.new1">
            <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                    <i class="fa fa-chevron-down pull-right"></i> Sponsor Research Agreement

                </a>
            </h5>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    A Sponsored Research Agreement (SRA) between ULRF and an industry sponsor establishes the contractual terms and conditions for conducting a specific research project. 
                    These agreements are our most general purpose, and are meant to cover a broad range of potential projects – from research into a particular problem, to improvements 
                    to your background technology – to potentially even providing some validation prior to a licensing deal or as part of one such. To establish an SRA, please contact OSPA by 
                    email. Send along your company’s contract template or use one of UofL’s templates: federal ULRF template (PDF), nonfederal ULRF template (PDF)). 
                    We will negotiate the agreement terms and conditions with you and bring the contract to execution.
                </div>
            </div>
        </div>
        <div class="card.new1">
            <h5 class="card-header" role="tab" id="headingTwo" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-chevron-down pull-right"></i> Service Agreement
                </a>
            </h5>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    Projects wherein UofL provides standard technical services/testing to your specifications are handled contractually through Service Agreements. These agreements 
                    are meant to be used where the work to be done is standard, and there is no intention or desire to create intellectual property – rather, you are interested in 
                    using our facilities, equipment, and expertise to provide data for your business’ use. To establish a Service Agreement, please contact OSPA by email. Send along 
                    your company’s contract template or use one of UofL’s templates: federal ULRF template (PDF), 
                    nonfederal ULRF template(PDF)). We will negotiate the agreement terms and conditions with you and bring the contract to execution.
                </div>
            </div>
        </div>
        <div class="card.new1">
            <h5 class="card-header" role="tab" id="headingThree" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-chevron-down pull-right"></i>  Material Transfer Agreement
                </a>
            </h5>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">

                    University team members in our Office of Technology Transfer work regularly with private industry to bring materials into University laboratories.  
                    They understand that each project has differing needs related to these types of research agreements.  Agreements are worked through on a case-by-case basis: 
                    individual research goals and expectations are identified, as are conflicting terms in funding or other agreements (such as other MTAs, when materials are used in conjunction).  
                    They strive to negotiate fair, tailored terms for use of private industry materials.

                    MTA terms can be part of an SRA or Service Agreement. The UofL SOW should identify any planned exchange of biological or chemical compounds as part of a project.

                    Learn more about MTAs.
                    <br>

                </div>
                </div>
            </div>
        </div>



