
@{
    ViewData["Title"] = "Main";
}

<h1>Industry Compliances</h1>

<br />
<br />

<p style="color: yellow">
    <strong>
        Please note: Individual schools and departments also may maintain additional policies.
        Such policies, however, do not override these university-wide policies.
    </strong>
    <br />
    <br />

        <h3> Guidelines</h3>
        <hr class="new1" />
        <ul>
            <li><a href="#"> Link to polices</a></li>
            <li><a href="#"> Link to polices</a></li>
            <li><a href="#"> Link to polices</a></li>
            <li><a href="#"> Link to polices</a></li>
            <li><a href="#"> Link to polices</a></li>
        </ul>
   
    <br />
    <br />

  
        <h3> Conflict of Interest</h3>
        <hr class="new1" />
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>
<p> Text to take up some spaces</p>

<br />
<br />


   
