
@{
    ViewData["Title"] = "Main";
}

<style>

    h5 {
        text-align: center;
        color:lightgrey !important;
    }

    a:hover {
        color: black;
    }


</style>

<body>
    <h1>Research Cores</h1>
    <br />
    <br />

    <img src="~/Images/Industry/Biomedical.jpg" alt="Biomedical Imager" class="center" />
    <br />
    <br />
    <div>
        <div>
            <br />
            <br />
            <h2>Biomedical Cores</h2>
            <hr class="new1" />
            <br />

            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card.new1">
                    <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                            <i class="fa fa-chevron-down pull-right" href="http://louisville.edu/researchcores/biomedical-cores/biomedical-research-cores/bioinformatics/"></i> Bioinformatic and Biostatics
                        </a>
                    </h5>
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body text-light">
                            Department of Bioinformatics and Biostatistics Statistical Consulting Center:
                            <ul>
                                <li>Visit the organization websiteProvides expertise in statistical methods and information science in support of research.</li>
                                <li>
                                    Serves health researchers who are part of the University of Louisville (UofL), Health Sciences Center, as well as other health
                                    care organizations, research centers, businesses and non-profit entities.
                                </li>
                                <li>
                                    The centers consultants participate in long- and short-term collaborative research projects and provide technical and specialized computational services as needed.
                                    Accepts data analysis and statistical programming jobs on a fee for service basis.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card.new1">
                    <h5 class="card-header" role="tab" id="headingtwo" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="d-block">
                            <i class="fa fa-chevron-down pull-right" href="http://louisville.edu/researchcores/biomedical-cores/genomics"></i> Genomic
                        </a>
                    </h5><div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingtwo">
                        <div class="card-body text-light">
                            UofL Genomics Facility:Affymetrix and Agilent platform microarray processing
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card.new1">
                    <h5 class="card-header" role="tab" id="headingthree" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="d-block">
                            <i class="fa fa-chevron-down pull-right" href="http://louisville.edu/researchcores/biomedical-cores/structural-biology"></i> Structural Biology
                        </a>
                    </h5>
                    <div id="collapsethree" class="collapse show" role="tabpanel" aria-labelledby="headingthree">
                        <div class="card-body text-light">
                            <p>Biophysics</p>
                            <p>Nuclear Magnetic Reasonance</p>
                            <p>Molecular Modeling</p>
                        </div>
                    </div>
                </div>
            </div>


            <br />
            <br />
            <br />
            <img src="~/Images/Industry/Engineering.jpg" alt="Engineering" class="center" />
            <br />
            <br />
            <br />

            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card.new1">
                    <h5 class="card-header" role="tab" id="headingfour" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour" class="d-block">
                            <i class="fa fa-chevron-down pull-right" href="http://louisville.edu/researchcores/engineering-cores/engineering-cores/micro-nanotechnology/"></i>Micro/Nanotechnology
                        </a>
                    </h5>
                    <div id="collapsefour" class="collapse show" role="tabpanel" aria-labelledby="headingfour">
                        <div class="card-body text-light">
                            <p>Microtechnology Fabrication</p>
                            <p>
                                Huson Imaging & Characterization Laboratory (HICL):

                                The Huson Imaging & Characterization Laboratory (HICL) houses a complete suite of Scanning Electron Microscopes and Atomic Force Microscopes for both imaging and creating
                                novel nano-scale structures.
                                The Facility (1200 sq. ft.) contains extensive nano- imaging, manipulation and probing equipment, together with specialized nanofabrication equipment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card.new1">
                    <h5 class="card-header" role="tab" id="headingfive" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="true" aria-controls="collapsefive" class="d-block">
                            <i class="fa fa-chevron-down pull-right" href="http://louisville.edu/researchcores/engineering-cores/characterization"></i> Characterization
                        </a>
                    </h5>
                    <div id="collapsefive" class="collapse show" role="tabpanel" aria-labelledby="headingfive">
                        <div class="card-body text-light">
                            Department of Bioinformatics and Biostatistics Statistical Consulting Center:
                            <ul>
                                <li>Advance Material Characterization</li>
                                <li>Scanning Electron Microscope     </li>
                                <li>Atomic Force Microscope</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card.new1">
                    <h5 class="card-header" role="tab" id="headingsix" style="background-color:#AD0000; border-color:white; border:solid 1px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="true" aria-controls="collapsesix" class="d-block">
                            <i class="fa fa-chevron-down pull-right" href="http://louisville.edu/researchcores/engineering-cores/rapid-prototyping"></i> Rapid Prototyping
                        </a>
                    </h5>
                    <div id="collapsesix" class="collapse show" role="tabpanel" aria-labelledby="headingsix">
                        <div class="card-body text-light">
                            CNC Machining
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <div>
                    <h5><strong>Other Research Cores</strong></h5>
                    <hr class=" new1" />
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul>
                    <li>More Examples</li>
                    <li>More Examples</li>
                    <li>More Examples</li>
                </ul>
            </div>
        </div>
    </div>
    

</body>