
@{
    ViewData["Title"] = "Main";
}

<style>

    h5{
        text-align:center;

    }


</style>

<body>
    <h1>Research Cores</h1>
    <br />
    <br />

    <img src="~/Images/Industry/Biomedical.jpg" alt="Biomedical Imager" class="center" />
    <br />
    <br />
    <div>
        <div>
            <h5>Biomedical Cores</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul>
                <li>Bioinformatics and Biostatistics</li>
                <li>Cell Sorting</li>
                <li>Metabolomics</li>
            </ul>
        </div>
        <a href="#" class="btn btn-primary">Find more</a>
    </div>
    <br />
    <br />
    <br />

    <img src="~/Images/Industry/Engineering.jpg" alt="Engineering" class="center" />
    <br />
    <br />
    <br />
    
    <div>
        <div>
            <h5> Engineering Cores</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul>
            <li>Micro/Nanotechnology</li>
            <li>Characterization</li>
            <li>Rapid Prototyping</li>
        </ul>
        <a href="#" class="btn btn-primary">Find more</a>

    </div>

    <br />
    <br />
    <br />
    <div>
        <div>
            <h5><strong>Other Research Cores</strong></h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul>
            <li>More Examples</li>
            <li>More Examples</li>
            <li>More Examples</li>
        </ul>

        <a href="#" class="btn btn-primary">Find more</a>
    </div>
<br />
    <br />

</body>