
@{
    ViewData["Title"] = "Main";
}

<h1>Research Cores</h1>

<body>
    <img src="~/Images/Industry/Biomedical.jpg" />
    <div>
        <img src="\Images\documenticon.png" class="card-img-top" alt="..." width="100" height="300">
        <div>
            <h5>Biomedical Cores</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul>
                <li>Bioinformatics and Biostatistics</li>
                <li>Cell Sorting</li>
                <li>Metabolomics</li>
               </ul>
        </div>         
            <a href="#" class="btn btn-primary">Find more</a>                

    <img src="~/Images/Industry/Engineering.jpg" />
    <div>
        <img src="\Images\documenticon.png" class="card-img-top" alt="..." width="100" height="300">
        <div>
            <h5>Engineering Cores</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul>
            <li>Micro/Nanotechnology</li>
            <li>Characterization</li>
            <li>Rapid Prototyping</li>
        </ul>
            <a href="#" class="btn btn-primary">Find more</a>
           
    </div>
    <div>
        <img src="\Images\documenticon.png" class="card-img-top" alt="..." width="100" height="300">
        <div>
            <h5>Other Research Cores</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul>
            <li>More Examples</li>
            <li>More Examples</li>
            <li>More Examples</li>
        </ul>
    
            <a href="#" class="btn btn-primary">Find more</a>
        </div>
 
 

</body>