
@{
    ViewData["Title"] = "Main";
}
@{
    Layout = "_Layout";
}

<h1>Researchers</h1>

<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<!-- Pages -->
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6" style="margin-left: -15px;">
                        <div class="card" style="width: 100%; margin-bottom: 8px;">
                            <!--Big News-->
                            <div class="card-body">
                                <h5 class="card-title" style="font-size:xx-large; text-align: left; ">Researchers</h5>
                                <p class="card-text">Information updates regarding researchers</p>
                                <p class="card-text">Information updates regarding researchers</p>
                                <p class="card-text">Information updates regarding researchers</p>
                                <p class="card-text">Information updates regarding researchers</p>
                                <a href="#" class="btn btn-primary">iRIS Login</a>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-2">
                        <div class="card" style="height: 350px; margin-bottom: 8px; margin-left: -50px; margin-right: 50px;  height: 288px;">
                            <!--Big News-->
                            <div class="card-body">
                                <!--<img src="Images/join InNet.jpg" alt="Research" class="" title="InNet Portal" style="display:block; margin-left: 50rem; border-radius: 25px;">-->
                                <h5 class="card-title" style="font-size:x-large; text-align: left;">External Tools</h5>
                                <p>Connect with Researchers</br><a href="#"><img src="Images/join InNet.jpg" alt="Research" class="" title="InNet Portal" style="display:block; margin-top: 5px;  margin-left: 4.5rem; position: center; border-radius: 25px; margin-bottom: 20px;"></a></p>
                                <p> Cloud Tools for Researchers </br><a href="#"><img src="Images/cloudtools.jpg" alt="Cloud" class="" title="InNet Portal" style="margin-top: 5px; margin-left: 3.6rem; border-radius: 25px; height: 75px;"></a></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <!--Medium News-->
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size:xx-large;">Project Updates</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <!--Quick Links-->
                            <div class="card" style="width: 100%;">
                                <div class="card-body, facts-figures-single">
                                    <h5 class="card-title" style="font-size:xx-large;">Quick Links</h5>
                                    <br>
                                    <a href=#>
                                        <p class="card-text">Important Link #1</p>
                                        <br>
                                    </a>
                                    <a href=#>
                                        <p class="card-text">Important Link #2</p>
                                        <br>
                                    </a>
                                    <a href=#>
                                        <p class="card-text">Important Link #3</p>
                                        <br>
                                    </a>
                                    <a href=#>
                                        <p class="card-text">Important Link #4</p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <!--Grant Statistics-->
                            <div class="card" style="width: 100%;">
                                <div class="card-body, facts-figures-single">
                                    <h5 class="card-title" style="font-size:xx-large;">Researcher Events</h5>
                                    <a href=#>
                                        <p class="card-text">Researcher Event Link</p>
                                        <br>
                                    </a>
                                    <a href=#>
                                        <p class="card-text">Researcher Event Link</p>
                                        <br>
                                    </a>
                                    <a href=#>
                                        <p class="card-text">Researcher Event Link</p>
                                        <br>
                                    </a>
                                    <a href=#>
                                        <p class="card-text">Researcher Event Link</p>
                                    </a>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- <div class="col-2">
                   <div class="row"> <!--Iris Portal
                     <div class="card" style="width: 100%;">
                       <div class="card-body">
                         <h5 class="card-title">Iris Portal</h5>
                         <Span></Span>
                       </div>
                     </div>
                   </div>
                   <br>
                   <div class="row"> <!--Connect With Us
                     <div class="card" style="width: 100%;">
                       <div class="card-body">
                         <h5 class="card-title">Connect With Us</h5>
                         <div style="text-align: center; letter-spacing: 5px">
                           <img src="Images/facebook.png" alt="Facebook" class="image-inline" title="Facebook">
                           <img src="Images/ln30.png" alt="LinkedIn" class="image-inline" title="LinkedIn">
                           <img src="Images/Twitter.png" alt="Twitter" class="image-inline" title="Twitter">
                         </div>
                         <br>
                         <h5 class="card-title">Twitter Feed</h5>
                         <div style="text-align: center; letter-spacing: 5px">
                           <img src="Images/twitter_block.png" style="width:100%" alt="twitter_block" class="image-inline" title="twitter_block">
                         </div>
                       </div>
                     </div>
                   </div>
                   <br>
                   <div class="row"> <!--Events
                       <div class="card" style="width: 100%;">
                         <div class="card-body, facts-figures-single">
                           <h5 class="card-title" style="font-size:xx-large;">Events</h5>
                           <div class="event-link">
                             <a href="#">
                               <h6>February 4th, 2020</h6>
                               <p class="card-text">Research Opportunity</p>
                             </a>
                           </div>
                           <div class="event-link">
                             <a href="#">
                               <h6>February 4th, 2020</h6>
                               <p class="card-text">Research Opportunity</p>
                             </a>
                           </div>
                           <div class="event-link">
                             <a href="#">
                               <h6>February 4th, 2020</h6>
                               <p class="card-text">Research Opportunity</p>
                             </a>
                           </div>
                           <div class="event-link">
                             <a href="#">
                               <h6>February 4th, 2020</h6>
                               <p class="card-text">Research Opportunity</p>
                             </a>
                           </div>
                         </div>
                       </div>
                   </div>-->

            </div>

        </div> <!--End of Row-->

    </div> <!--End of Container-->
    <!-- Bootstrap core JavaScript -->


</body>

<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>


