@{
    ViewData["Title"] = "Forms";
}




<h1 style="color:whitesmoke">Researcher Forms</h1>

@{
    ViewData["Title"] = "Main";
}
@{
    Layout = "_Layout";
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="site.css">
    <title>Google Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style>
    body {
        color: black;
    }

    .col-12 {
        color: rgb(139, 157, 161);
    }
    .col-6 {
        color: rgb(139, 157, 161);
        float: left;

    }
    ul.leaf {
        list-style-image: url(\Images\documenticon.png)
    }
    .card {
        float: left;
        width: 33.33%;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>
    <!-- Pages -->
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h3>Submit Propsal</h3>
                <ul>
                    <li>Proposal Clearance</li>
                    <li>Grant/Contract Proposal</li>
                    <li>F&A Rate Agreement</li>
                    <li>Additional Signature Page</li>
                </ul>
            </div>
        </div>
    </div>
               <div class="card">
                <div class="card-body">
                    <h3>Submit Propsal</h3>
                    <ul class="leaf">
                        <li>Proposal Clearance</li>
                        <li>Grant/Contract Proposal</li>
                        <li>F&A Rate Agreement</li>
                        <li>Additional Signature Page</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Submit Propsal</h3>
                    <ul class="leaf">
                        <li>Proposal Clearance</li>
                        <li>Grant/Contract Proposal</li>
                        <li>F&A Rate Agreement</li>
                        <li>Additional Signature Page</li>
                    </ul>
                </div>
            </div>

    

</body>

</html>


