@{
    ViewData["Title"] = "Forms";
}




<h1 style="color:whitesmoke">Researcher Forms</h1>

@{
    ViewData["Title"] = "Main";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        color: white;
    }

    .col-12 {
        color: rgb(139, 157, 161);
    }
    .col-6 {
        color: rgb(139, 157, 161);
        float: left;

    }
    ul.leaf {
        list-style-image: url(\Images\documenticon.png)
    }
  
    .card {
        float: left;
        width: 33%;
        display: block;
        margin-bottom: 150px;
    }
          
    .row{
        margin: 0 -5px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .card-link{
        color: black;
    }
    .btn btn-secondary dropdown-toggle {
        background-color: #AD0000;
    }
    .btn-primary {
        background-color: rgb(173, 0, 0);
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: justify;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font: gotham-book;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="site.css">
    <title>Google Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>
    <br />
    <br />
    <h3 alt="Proposal Forms"><strong>Proposal Forms</strong></h3>
    <hr class="new1" />
    <br />
    <br />
    <div class="row">

        <!--General Proposals-->
        <div class="col">
            <div class="card.new1">
                <div class="card-body text-light">
                    <h5 alt="Proposal Forms" class="card-title"><strong>General Proposal</strong></h5>
                    <p class="card-text"> <a href="https://louisville.edu/research/common/pcf-form" title="Proposal Clearance Form"><strong>Proposal Clearance Form (Word): - (Revised 08/25/2020)</strong></a> </p>
                    <p class="card-text"><a href="https://louisville.edu/research/common/pcf-instructions" title="Grant/Contract Proposal"><strong>Grant/Contract Proposal (PCF) "Instructions"- (Revised 08/01/2020)</strong></a> </p>
                    <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission instructions"><strong>Submit Form</strong></a>
                </div>
            </div>
        </div>

        <!--Contactor and Other-->
        <div class="col">
            <div class="card.new1">
                <div class="card-body text-light">
                    <h5 alt="Graduates" class="card-title"><strong>Contractor</strong></h5>
                    <p class="card-text"><a href="https://louisville.edu/research/spa/subrecipient-monitoring/fdp-subrecipient-contractor-determination-checklist" title="Subaward/Contractor Determination for Federal Awards"><strong>Subaward/Contractor Determination for Federal Awards</strong></a></p>
                    <p class="card-text"><a href="http://louisville.edu/research/common/forms/resolveuid/b68d1441fb164281bd3639bf419c88d7" title="Subrecipient Commitment Form and Instructions"><strong>Subrecipient Commitment Form and Instructions</strong></a></p>
                    <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission Instructions"><strong>Submit Form</strong></a>
                </div>
            </div>
        </div>

        <!--F&A-->
        <div class="col">
            <div class="card.new1">
                <div class="card-body text-light">
                    <h5 alt="Assistance" class="card-title"><strong>F&A Forms</strong></h5>
                    <p class="card-text"><a href="http://louisville.edu/research/common/f-a-reduction-cost-burdening-request-form" title="F&A Reduction/Cost-Burdening"><strong>F&A Reduction/Cost-Burdening Request Form - Word - (Revised 03/10/2015)</strong></a></p>
                    <p class="card-text"><a href="http://louisville.edu/research/common/fa-rate-agreement" title="F&A Rate Agreement (PDF) - (2019)"><strong>F&A Rate Agreement (PDF) - (2019)</strong></a></p>
                    <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission Instructions"><strong>Submit Form</strong></a>
                </div>
            </div>
        </div>



    </div>
    <br />
    <br />

    <br />
    <h3 alt="Account Form"><strong>Other Forms</strong></h3>
    <hr class="new1" />
    <br />
    <br />
    <div class="row">

        <!--Account Forms-->
        <div class="col">
            <div class="card.new1">
                <div class="card-body text-light">
                    <h5 alt="Proposal Forms" class="card-title"><strong>Accounts</strong></h5>
                    <p class="card-text"> <a href="https://louisville.edu/research/common/pcf-form" title="Guarantee/Pre-Award Spending Chartfield & Speedtype Request- Word"><strong>Guarantee/Pre-Award Spending Chartfield & Speedtype Request- Word</strong></a> </p>
                    <p class="card-text"><a href="http://louisville.edu/research/common/ibed" title="IBED Form"><strong>IBED Form - Excel - (08/25/2020)</strong></a> </p>
                    <p class="card-text"><a href="http://louisville.edu/research/common/ibed-instructions" title="IBED Instructions - CCD and OIE"><strong>IBED Instructions - CCD and OIE</strong></a> </p>
                    <br />
                    <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission instructions"><strong>Submit Form</strong></a>
                </div>
            </div>
        </div>

        <!--Contactor and Other-->
        <div class="col">
            <div class="card.new1">
                <div class="card-body text-light">
                    <h5 alt="Graduates" class="card-title"><strong>Contractor</strong></h5>
                    <p class="card-text"><a href="https://louisville.edu/research/spa/subrecipient-monitoring/fdp-subrecipient-contractor-determination-checklist" title="Subaward/Contractor Determination for Federal Awards"><strong>Subaward/Contractor Determination for Federal Awards</strong></a></p>
                    <p class="card-text"><a href="http://louisville.edu/research/common/forms/resolveuid/b68d1441fb164281bd3639bf419c88d7" title="Subrecipient Commitment Form and Instructions"><strong>Subrecipient Commitment Form and Instructions</strong></a></p>
                    <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission Instructions"><strong>Submit Form</strong></a>
                </div>
            </div>
        </div>

        <!--F&A-->
        <div class="col">
            <div class="card.new1">
                <div class="card-body text-light">
                    <h5 alt="Assistance" class="card-title"><strong>F&A Forms</strong></h5>
                    <p class="card-text"><a href="http://louisville.edu/research/common/f-a-reduction-cost-burdening-request-form" title="F&A Reduction/Cost-Burdening"><strong>F&A Reduction/Cost-Burdening Request Form - Word - (Revised 03/10/2015)</strong></a></p>
                    <p class="card-text"><a href="http://louisville.edu/research/common/fa-rate-agreement" title="F&A Rate Agreement (PDF) - (2019)"><strong>F&A Rate Agreement (PDF) - (2019)                                                </strong></a><br /></p>
                    <br />
                    <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission Instructions"><strong>Submit Form</strong></a>
                </div>
            </div>
        </div>



    </div>
    <br />
    <br />

    @*<div class="card" style="width: 33%;">
        <div class="card-body">
            <h5 class="card-title">Proposal Forms</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Proposal Clearance Form (Word): - (Revised 08/25/2020)</li>
            <li class="list-group-item">Grant/Contract Proposal (PCF) "Instructions"- (Revised 08/01/2020)</li>
            <li class="list-group-item">Subaward/Contractor Determination for Federal Awards</li>
            <li class="list-group-item">Subrecipient Commitment Form and Instructions</li>
            <li class="list-group-item">F&A Reduction/Cost-Burdening Request Form - Word - (Revised 03/10/2015)</li>
            <li class="list-group-item">F&A Rate Agreement (PDF) - (2019)</li>
            <li class="list-group-item">TRIA - Transmit For Review and Initial Assessment - Revised 08/01/2020</li>
            <li class="list-group-item">MIRA - Institutional Research Application Information - Revised 08/25/2020</li>
            <li class="list-group-item">Additional Signature Page - Revised 08/25/2020</li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-danger">Download</a>
            <a href="#" class="btn btn-danger">Submit New</a>
            <a href="#" class="btn btn-danger">Find Existing</a>
        </div>
    </div>
    <div class="card" style="width: 33%;">
        <div class="card-body">
            <h5 class="card-title">Account Forms</h5>
            <p class="card-text">The following forms are for establishing an account</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Guarantee/Pre-Award Spending Chartfield & Speedtype Request- Word</li>
            <li class="list-group-item">IBED Form - Excel - (08/25/2020)</li>
            <li class="list-group-item">IBED Instructions - CCD and OIE</li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-danger">Download</a>
            <a href="#" class="btn btn-danger">Submit New</a>
            <a href="#" class="btn btn-danger">Find Existing</a>
        </div>
    </div>
    <div class="card" style="width: 33%;">
        <div class="card-body">
            <h5 class="card-title">Compliance Forms</h5>
            <p class="card-text">Find the most up-to-date Compliance forms below</p>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Attestation and Disclosure Form (iRIS)</li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-danger">Download</a>
            <a href="#" class="btn btn-danger">Submit New</a>
            <a href="#" class="btn btn-danger">Find Existing</a>
        </div>
    </div>
    <label for="cars">Choose a car:</label>

    <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>*@
</body>

</html>


