@{
    ViewData["Title"] = "Forms";
}




<h1 style="color:whitesmoke">Researcher Forms</h1>

@{
    ViewData["Title"] = "Main";
}
@{
    Layout = "_Layout";
}



<br />
<br />
<h3 alt="Proposal Forms"><strong>Proposal Forms</strong></h3>
<hr class="new1" />
<div class="row">

    <!--General Proposals-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Proposal Forms" class="card-title"><strong>General Proposal</strong></h5>
                <p class="card-text"> <a href="https://louisville.edu/research/common/pcf-form" title="Proposal Clearance Form"><strong>Proposal Clearance Form (Word): - (Revised 08/25/2020)</strong></a> </p>
                <p class="card-text"><a href="https://louisville.edu/research/common/pcf-instructions" title="Grant/Contract Proposal"><strong>Grant/Contract Proposal (PCF) "Instructions"- (Revised 08/01/2020)</strong></a> </p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission Button"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>

    <!--Contactor and Other-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Graduates" class="card-title"><strong>Contractor</strong></h5>
                <p class="card-text"><a href="https://louisville.edu/research/spa/subrecipient-monitoring/fdp-subrecipient-contractor-determination-checklist" title="Subaward/Contractor Determination for Federal Awards"><strong>Subaward/Contractor Determination for Federal Awards</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/forms/resolveuid/b68d1441fb164281bd3639bf419c88d7" title="Subrecipient Commitment Form and Instructions"><strong>Subrecipient Commitment Form and Instructions</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission Instructions"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>

    <!--F&A-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Assistance" class="card-title"><strong>F&A Forms</strong></h5>
                <p class="card-text"><a href="http://louisville.edu/research/common/f-a-reduction-cost-burdening-request-form" title="F&A Reduction/Cost-Burdening"><strong>F&A Reduction/Cost-Burdening Request Form - Word - (Revised 03/10/2015)</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/fa-rate-agreement" title="F&A Rate Agreement (PDF) - (2019)"><strong>F&A Rate Agreement (PDF) - (2019)</strong></a></p>
                <br />
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission Button"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>



</div>
<br />
<br />


<h3 alt="Other Form"><strong>Other Forms</strong></h3>
<hr class="new1" />
<div class="row">

    <!--Account Forms-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Proposal Forms" class="card-title"><strong>Accounts</strong></h5>
                <p class="card-text"> <a href="https://louisville.edu/research/common/pcf-form" title="Guarantee/Pre-Award Spending Chartfield & Speedtype Request- Word"><strong>Pre-Award Spending Chartfield Request</strong></a> </p>
                <p class="card-text"><a href="http://louisville.edu/research/common/ibed" title="IBED Form"><strong>IBED Form - Excel - (08/25/2020)</strong></a> </p>
                <p class="card-text"><a href="http://louisville.edu/research/common/ibed-instructions" title="IBED Instructions - CCD and OIE"><strong>IBED Instructions - CCD and OIE</strong></a> </p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission instructions"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>

    <!--Contactor and Other-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Graduates" class="card-title"><strong>Contractor</strong></h5>
                <p class="card-text"><a href="https://louisville.edu/research/spa/subrecipient-monitoring/fdp-subrecipient-contractor-determination-checklist" title="Subaward/Contractor Determination for Federal Awards"><strong>Subaward/Contractor Determination for Federal Awards</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/forms/resolveuid/b68d1441fb164281bd3639bf419c88d7" title="Subrecipient Commitment Form and Instructions"><strong>Subrecipient Commitment Form and Instructions</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission Instructions"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>

    <!--F&A-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Assistance" class="card-title"><strong>F&A Forms</strong></h5>
                <p class="card-text"><a href="http://louisville.edu/research/common/f-a-reduction-cost-burdening-request-form" title="F&A Reduction/Cost-Burdening"><strong>F&A Reduction/Cost-Burdening Request Form - Word - (Revised 03/10/2015)</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/fa-rate-agreement" title="F&A Rate Agreement (PDF) - (2019)"><strong>F&A Rate Agreement (PDF) - (2019)                                                </strong></a><br /></p>
                <br />
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission Button"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>



</div>
<!--Disclosures and Fed Forms-->
<h3 alt="Proposal Forms"><strong>Disclosures and Federal Forms</strong></h3>
<hr class="new1" />
<div class="row">
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Assistance" class="card-title"><strong>Disclosures</strong></h5>
                <p class="card-text"><a href="http://louisville.edu/research/technologytransfer/innovators/ott-research-disclosure-form" title="Research Disclosure Form Download"><strong>Research Disclosure Form</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/ccd/forms/non-disclosure-agreement-nda" title="Non-Disclosure Agreement"><strong>Non-Disclosure Agreement (Clinical)</strong></a><br /></p>
                <p class="card-text"><a href="http://louisville.edu/research/oie/forms-templates/oie-ulrf-reciprocal-nda-template" title="Reciprocal Non-Disclosure Agreement"><strong>Reciprocal Non-Disclosure Agreement (Industry)</strong></a><br /></p>
                <br />
                <a alt="button" href="http://louisville.edu/research/technologytransfer/about/contact-ott" class="btn btn-primary" title="Contact OTT"><strong>Contact OTT</strong></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Assistance" class="card-title"><strong>Federal Forms</strong></h5>
                <p class="card-text"><a href="http://grants.nih.gov/grants/forms.htm" title="NIH Forms"><strong>NIH Forms</strong></a></p>
                <p class="card-text"><a href="https://www.fastlane.nsf.gov/index.jsp" title="NSF Forms"><strong>NSF Forms</strong></a><br /></p>
                <p class="card-text"><a href="http://grants.nih.gov/grants/funding/424/index.htm" title="SF424 RR Guide"><strong>SF424 RR Guide</strong></a><br /></p>
                <br />
                <a alt="button" href="http://get.adobe.com/reader/otherversions/" class="btn btn-primary" title="Download Adobe Reader"><strong>Download Adobe Reader</strong></a>
            </div>
        </div>
    </div>
</div>

<br />
<br />





