
@{
    ViewData["Title"] = "Graduate";
}

<h1>Graduate</h1>

<br/>
<br/>


<body>
    <!-- Pages -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%">
                    <img src="/images/student/programs.png">
                </div>
            </div>
        </div>
    </div>

    <br />
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body ">
                        <h5 class="card-title" style="font-size:xx-large;">UofL School of Interdisciplinary and Graduate Studies</h5>
                        <hr class="new1" />
                        <p class="card-text">The University of Louisville Offers Over a 120 Graduate Programs, Explore Which One is Right For You.</p>
                        <a alt="gradPrograms" href="https://catalog.louisville.edu/graduate/programs-study/" class="btn btn-primary">Explore UofL Graduate Programs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:xx-large;">UofL Schools and Departments</h5>
                        <hr class="new1" />
                        <p class="card-text">From Mozart to medicine, find your one-of-a-kind learning experience through our 12 schools and colleges. With more than 200 degree programs in our schools, you have the flexibility to explore educational paths and career options that are just right for you.</p>
                        <a alt="gradSchools" href="http://louisville.edu/academics/schools-departments/" class="btn btn-primary">Explore UofL Schools and Departments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>



  
