
@{
    ViewData["Title"] = "Main";
}


<link rel="stylesheet" href="site.css">
<head>
    <title>Policies and Procedures</title>

</head>

   <p style="color: yellow">
        <strong>
            Please note: Individual schools and departments also may maintain additional policies.
            Such policies, however, do not override these university-wide policies.
        </strong>
    </p>

    <h3> Administrator Guide</h3>

    <h3>Environmental Health and Safety</h3>

    <h3> Conflict of Interst </h3>

    <h3>Ethical Conduct</h3>

    <h3>Employee and Labor Relation Conduct</h3>

    <h3>Human Resource Conduct </h3>

    <h3>Other Resources</h3>

<!-- a href="#"></a> -->
