
@{
    ViewData["Title"] = "Main";
}


<title>Policies and Procedures</title>



<p>
    <strong>
        Please note: Individual schools and departments also may maintain additional policies.
        Such policies, however, do not override these university-wide policies.
    </strong>
</p>

<a href="https://louisville.edu/research/policies/guidance-for-direct-charging-of-administrative-clerical-salaries-to-sponsored-programs" style="font-size:xx-large;">Administrator Guide</a>
<br />

<a href="https://www.osha.gov/laws-regs/regulations/standardnumber/1910/1910.1200" style="font-size:xx-large;">Environmental Health and Safety</a>
<br />


<a href="https://louisville.edu/policies/policies-and-procedures/pageholder/pol-individual-conflict-of-interest" style="font-size:xx-large;">Conflict of Interest</a>
<br />

<a href="https://louisville.edu/policies/policies-and-procedures/pageholder/pol-ethical-conduct-and-reporting-of-research" style="font-size:xx-large;">Ethical Conduct</a>
<br />


<h3></h3>
<a href="https://louisville.edu/policies/policies-and-procedures/pageholder/pol-payroll-and-other-expense-transfers" style="font-size:xx-large;">Employee and Labor Relation Conduct</a>
<br />

<a href="https://louisville.edu/hr/human-resources/policies/" style="font-size:xx-large;">Human Resource Conduct</a>
<br />


<a href="https://louisville.edu/policies/policies-and-procedures/pageholder/pol-individual-conflict-of-interest" style="font-size:xx-large;">Other Resources</a>
<br />


