
@{
    ViewData["Title"] = "Student Home Page";
}

<h1>Students Home Page</h1>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <a href="#" class="btn btn-secondary">Go to My iRIS Portal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</body>

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

<div class="row">
    <div class="column" style="background-color:#bbb;color:black;">Student Carousel</div>
    <div class="column" style="background-color:#ccc;color:black;">Links</div>
</div>


