
@{
    ViewData["Title"] = "Student Home Page";
}
@{
    Layout = "_Layout";
}

    <h1>Student Main Page</h1>
   
<br/>
<br/>

<body>
    <!-- Pages -->
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%">
                    <img src="/images/student/hero.png">
                </div>
            </div>
        </div>
    </div>
   <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">UofL iRIS</h5>
                        <hr class="new1" />
                        <p class="card-text"> - Human Subjects Protection Program</p>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                        <a alt="iRIS" href="https://louisville.edu/research/humansubjects/images/iris-login/login" class="btn btn-primary">iRIS Portal Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">UofL ThinkIR</h5>
                        <hr class="new1" />
                        <p class="card-text">The University of Louisville's Institutional Repository</p>
                        <p class="card-text">Browse Research and Scholarship</p>
                        <p class="card-text">ThinkIR is an open-access collection of scholarly works created by the University of Louisville community.</p>
                        <a alt="ThinkIR" href="https://ir.library.louisville.edu/"class="btn btn-primary">Go to ThinkIR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>




