
@{
    ViewData["Title"] = "Student Home Page";
}

    ViewData["Title"] = "Main";
}
@{
    Layout = "_Layout";
}

    <h1 style="color: white">Student Main Page</h1>
   

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="site.css">

</head>


<body>
    <!-- Pages -->
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%">
                    <img src="/images/student/studentinvolvement.png">
                </div>
            </div>
        </div>
    </div>
   

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">UofL iRIS</h5>
                        <hr class="new1" />
                        <p class="card-text"> - Human Subjects Protection Program</p>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go to My iRIS Portal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">UofL ThinkIR</h5>
                        <hr class="new1" />
                        <p class="card-text">The University of Louisville's Institutional Repository</p>
                        <p class="card-text">Browse Research and Scholarship</p>
                        <p class="card-text">ThinkIR is an open-access collection of scholarly works created by the University of Louisville community.</p>
                        <a href="#" class="btn btn-primary">Go to My ThinkIR Portal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>



