
@{
    ViewData["Title"] = "Main";
}

<h1>Students Main Page</h1>

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 600px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

<div class="row">
    <div class="column" style="background-color:#aaa;">iRIS</div>
    <div class="column" style="background-color:#bbb;">Student Carousel</div>
    <div class="column" style="background-color:#ccc;">Links</div>
</div>


