
@{
    ViewData["Title"] = "Institute";
}
<style>

    a:hover {
        color: black;
    }
</style>
<h1>Institutes</h1>
<br />
<br />

<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> AMIST: Additive Manufacturing Institute of Science & Technology

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                With 10+ affiliated faculty from engineering, medicine and dentistry the AMIST supports and promotes
                the broad range of additive manufacturing (AM) research activities at the University of Louisville.
                faculty research is funded by industry and multiple federal agencies, including DoD (Navy, Air Force and Army), NASA and NSF.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingTwo" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-chevron-down pull-right"></i>  BCC: Brown Cancer Center
            </a>
        </h5>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body text-light">
                The mission of the James Graham Brown Cancer Center is to generate new knowledge relating to
                the nature of cancer, and to create new and more effective approaches to prevention, diagnosis
                and therapy, while delivering medical advances with compassion and respect to cancer patients throughout our region.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingThree" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-chevron-down pull-right"></i>  CHHP: Center for Health Hazards Preparedness
            </a>
        </h5>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body text-light">

                The Center for Health Hazards Preparedness is a nationally-recognized center of excellence in
                coordinating research, education and service to improve the local, regional and national response
                to potential acts of terrorism, natural disasters and infectious diseases.
                <br>

                <br />
                By defining competencies, disseminating best practices and offering virtual drills and exercises,
                communities will be strengthened as their health care workers and administration are prepared to
                appropriately assess and respond to a variety of public health hazards.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> CIEHS: Center for Integrated Environmental Health Sciences

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The Center for Integrated Environmental Health Sciences (CIEHS) at the University of Louisville is a National Institute of Environmental Health Sciences Core Center that provides infrastructure support for other environmental health science researchers, develops and mentors junior faculty, assists investigators in translating their basic science research into human studies, and supports a Community Engagement Core that provides outreach and environmental health education to youth groups and healthcare providers in the Louisville region and western Kentucky.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> CII: Cardiovascular Innovation Institute

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The Cardiovascular Innovation Institute (CII) is an internationally established research enterprise created to understand the mechanisms of heart, peripheral vascular and microcirculatory disease. It is a collaboration between the University of Louisville and Jewish Hospital & St. Mary’s HealthCare. The mission of the CII is to improve lives through world-class cardiovascular research, scientific discovery, and new enterprise creation.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> CIK: Commonwealth Institute of Kentucky

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The Commonwealth Institute of Kentucky (CIK) was established in 2015 with funding from KentuckyOne Health. CIK obtained recognition from the Board of Trustees in January 2016. The institute began to build its infrastructure almost immediately and initiated several projects. Through the work of the CIK executive committee, we have established guiding principles, goals and organizational structure that is strongly aligned with CIK’s mission of informing policy and practice that will improve the health of populations in Kentucky and beyond by facilitating and supporting transdisciplinary collaborations for research and data analytics.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Conn: Conn Center

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The Conn Center provides leadership, research, support and policy development in renewable energy; advances the goal of renewable energy; and promotes technologies, practices, and programs that increase efficiency for energy utilization in homes, businesses and public buildings.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> CPM: Center for Predictive Medicine for Bio-Defense and Emerging Infectious Diseases

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The Center for Health Hazards Preparedness is a nationally-recognized center of excellence in coordinating research, education and service to improve the local, regional and national response to potential acts of terrorism, natural disasters and infectious diseases.

                By defining competencies, disseminating best practices and offering virtual drills and exercises, communities will be strengthened as their health care workers and administration are prepared to appropriately assess and respond to a variety of public health hazards.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> CREAM: Center for Regulatory and Environmental Analytical Metabolomics

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The CREAM Center has been providing fundamental research strength to the UofL biomedical research community as well as collaborative research groups outside of UofL in a broad array of research projects looking at pressing societal problems ranging from human health, biotechnology, to environmental pollution and ecosystem health. The expertise of faculty associated with the CREAM Center spans all aspects of biomedical sciences and metabolomics, integrating with the entire ”-omics” community at the UofL. We represent several Departments on both the Belknap and Health Sciences Campuses of the University of Louisville.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> CTSI-CTSA: Clinical and Translational Sciences Institute

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The UofL and its Health Partners serve a highly diverse patient population, including many underrepresented and medical underserved groups. Our overall goals are to develop a collaborative clinical and translational research infrastructure across Kentucky and with partnering IDeA CTRs (Clinical and Translational Resources) and CTSAs (Clinical and Translational Science Awards) that will positively impact the health outcomes; and to develop an interactive professional development program that will create a pipeline for the next generation of clinical and translational investigators
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Env: Enviroment Institute

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The Enviroment Institute. where health research meets the environment. The Christina Lee Brown Envirome Institute’s research unites a multidisciplinary group to turn scientific discovery into actionable knowledge that can help us to build healthier cities.
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Env: Enviroment Institute

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The overriding goal of the center has been to develop a self-sustaining collaborative research enterprise in electrooptics and nanotechnology, which has and is expected to continue to:
                <ul>
                    <li>Enhance the Prestige and Visibility of UofL Research</li>
                    <li>Create New Knowledge</li>
                    <li>Increase the Number, Amount and Scope of Research Contracts and Grants</li>
                    <li>Develop Critical Infrastructure for Advanced Research</li>
                    <li>Expand and Enhance Student Educational Experiences</li>
                    <li>Perform Educational Outreach and Service for the Public, Industry and the State</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> ICT: Institute of Cellular Therapeutics

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                ICT's emphasis is on use of adult stem cells from bone marrow and manipulation of immune system cells to treat a variety of human diseases. We are making breakthrough discoveries in basic research and translating those discoveries to the clinic.

            </div>
        </div>
    </div>
    <div class="card.new1">
        <h5 class="card-header" role="tab" id="headingOne" style="background-color:#AD0000; border-color:white; border:solid 1px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> IMC: Institute of Molecular Cardiology

            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body text-light">
                The mission of the Institute of Molecular Cardiology is to coordinate the cardiovascular research program at the U of L School of Medicine in order to
                <ul>
                    <li>facilitate collaboration and synergy among investigators</li>
                    <li>utilize our cardiovascular resources optimally and efficiently</li>
                    <li>strengthen, expand, and integrate basic and clinical research programs</li>
                    <li>facilitate rapid translation from bench to bedside</li>
                    <li>provide institutional support to investigators engaged in cardiovascular research</li>
                </ul>
            </div>
        </div>
    </div>
</div>