@{
    ViewData["Title"] = "FAQ";
}


<style>
    a:link{
        text-decoration:underline;
    }


</style>

<h1>COVID-19 Frequently Asked Questions (FAQs) Relating to Research</h1>
<br />
<br />

<h3><strong>University of Louisville leadership, including the Office of Research and Innovation, is monitoring the spread of the SARS-CoV-2 coronavirus and the disease it causes, COVID-19. 
    This page will be updated regularly with new announcements, 
    funding opportunities and other information related to the effects of COVID-19 on our researchers and their work.</strong></h3>
 <br />
<br />

<div class="span6">
    <h3><strong>Research Information</strong></h3>
    <hr class="new1" />
    <p><strong>VIRTUAL Q&amp;A:</strong>&nbsp;&nbsp;<strong>UofL Research and Innovation Town Halls</strong> are now monthly. 
    Join the Office of Research and Innovation on the last Thursday (noon - 1:00pm) of each month for discussion of current opportunities, possible collaborations and more. 
    Each month will include discussion on a different topic.&nbsp; The next session will be on <strong>October 29, 2020</strong>. 
    Click <strong><a class="external-link" href="https://docs.google.com/forms/d/e/1FAIpQLSde8fcYecmtFJnjpzqGM0kmkVIp1Tyq6zYEvslLLaVu5Yn77w/viewform" target="_blank" title="UofL Research Town Hall">REGISTER HERE</a></strong> to be added to our invite list.</p>

    <p><strong><a class="external-link" href="https://www.medicalcountermeasures.gov/" target="_blank" title="Medical Countermeasures.gov ">Medical Countermeasres.gov</a></strong>
    <br> This site contains information about the Biomedical Advanced Research and Development Authority's (BARDA) Medical Countermeasure Portfolio, partnering opportunities, public meetings, and facilitates communication between federal&nbsp;
    government agencies and public stakeholders to&nbsp;enhance the Nation's public health emergency&nbsp;preparedness.</p>
    <br />

    <p><strong><a title="COVID-19 Resources" href="https://louisville.edu/research/covid19resources/resources" class="internal-link" target="_blank">COVID-19 Resources For Researchers</a></strong><br>
    This page will inform the community about policies, procedures and activities related to UofL's virus protection and response efforts, including the 
    <strong><a class="external-link" href="https://louisville.edu/coronavirus/" target="_blank" title="UofL Campus Health Services">UofL Campus Health Services/Pivot to Fall</a></strong> web site.
    If you are working on COVID-19 related research, please complete this <a class="external-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfFX0V8BzkpVr9QBkqeKYxOxHtljzJW6OXOh4EMqU4q28ePAg/viewform" target="_blank" title="COVID-19 Research Support Request Form"><strong> 
        short form</strong></a> so that we can help connect you with funding agencies and program managers.</p>
    <br />

    <p><strong><a title="University of Louisville N95 Decontamination Program" href="https://louisville.edu/research/n95/n95-decontamination-program" class="internal-link" target="_blank">University of Louisville N95 Decontamination Program</a></strong><br>Learn more about this important program and how to participate.</p>
   <br />
    <br />
    <h3><strong>Funding Opportunities</strong></h3>
    <hr class="new1" />
    <p><strong><a class="external-link" href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/covid19-funding" target="_blank" title="COVID-19 Grant Funding Opportunities ">Grant Funding Opportunities</a></strong> for research specifically targeting SARS-CoV-2 coronavirus, COVID-19, and the condition’s detection, prevention and treatment.</p>
    <br />
    <p><strong>Offices Open</strong></p>
    <p>EVPRI Offices are open and working remotely. See our <strong><a class="external-link" href="https://localhost:44359/About/StaffAndFaculty" target="_blank" title="EVPRI Offices/Staff">Office/Staff</a></strong> web page for contact information.</p>
    <br />
    <p><strong>Collaborate</strong></p>
    <p>Join other researchers in our COVID-19 Research group on <a class="external-link" href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2f_%23%2fl%2fchannel%2f19%3a61d21e43230f4cbb8913cc7ec034f3db%40thread.tacv2%2fGeneral%3fgroupId%3d80c7cfb2-d8f7-4398-808b-08ae3295e60e%26tenantId%3ddd246e4a-5434-4e15-8ae3-91ad9797b209&amp;type=channel&amp;deeplinkId=69e18550-694b-4257-b286-1d78ac11fe4c&amp;directDl=true&amp;msLaunch=true&amp;enableMobilePage=true&amp;suppressPrompt=true" target="_blank" title="COVID-19 Research Microsoft Teams"><strong> Microsoft Teams</strong>.</a> This open group is a virtual space to share ideas, brainstorm and collaborate on related research.</p>
</div>
<br />
<br />

<h3>Related Stories</h3>
    <hr class="new1" />
    <ul>
        <li><a class="external-link" href="http://www.uoflnews.com/post/uofltoday/phase-ii-results-of-co-immunity-project-show-higher-than-expected-rates-of-coronavirus-exposure-in-jefferson-county/" target="_blank" title="Phase II results of Co-Immunity Project show higher-than-expected rates of coronavirus exposure in Jefferson County">Phase II results of Co-Immunity Project show higher-than-expected rates of coronavirus exposure in Jefferson County</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/post/uofltoday/uofl-conducting-clinical-trial-on-drug-for-severe-covid-19-respiratory-effects/" target="_blank" title="UofL conducting clinical trial on drug for severe COVID-19 respiratory effects">UofL conducting clinical trial on drug for severe COVID-19 respiratory effects</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-engineering-student-spends-co-op-aiding-covid-19-first-responders/" target="_blank" title="UofL Engineering students spend co-ops working on COVID-19 projects">UofL Engineering students spend co-ops working on COVID-19 projects</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/phase-i-results-of-uofl-healths-co-immunity-project-show-precautions-work-to-prevent-spread-of-coronavirus/" target="_blank" title="Phase I results of UofL Health’s Co-Immunity Project show precautions work to prevent spread of coronavirus">Phase I results of UofL Health’s Co-Immunity Project show precautions work to prevent spread of coronavirus</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/potential-uofl-coronavirus-breakthrough-in-development-with-california-biomedical-company/" target="_blank" title="Potential UofL coronavirus breakthrough in development with California biomedical company">Potential UofL coronavirus breakthrough in development with California biomedical company</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/covid-19-antibody-initiative-receives-1-5-million-to-expand-testing-launch-virus-radar/" target="_blank" title="COVID-19 antibody initiative receives $1.5 million to expand testing, launch ‘virus radar’">COVID-19 antibody initiative receives $1.5 million to expand testing, launch ‘virus radar’</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-researchers-are-working-to-develop-a-more-effective-and-reusable-n95-mask/" target="_blank" title="UofL researchers are working to develop a more effective and reusable N95 mask">UofL researchers are working to develop a more effective and reusable N95 mask</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/groundbreaking-coronavirus-immunity-initiative-receives-an-infusion-of-funding/" target="_blank" title="Groundbreaking coronavirus immunity initiative receives an infusion of funding">Groundbreaking coronavirus immunity initiative receives an infusion of funding</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/ups-steps-up-to-help-fund-potential-coronavirus-breakthrough/" target="_blank" title="UPS steps up to help fund potential coronavirus breakthrough">UPS steps up to help fund potential coronavirus breakthrough</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/post/uofltoday/uofl-louisville-metro-study-finds-local-social-distancing-measures-are-saving-lives/" target="_blank" title="UofL, Louisville Metro study finds local social distancing measures are saving lives">UofL, Louisville Metro study finds local social distancing measures are saving lives</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-delivering-health-care-through-a-new-lens-smart-glasses/" target="_blank" title="UofL delivering health care through a new lens: smart glasses">UofL delivering health care through a new lens: smart glasses</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-developing-robot-to-disinfect-areas-with-coronavirus-risk/" target="_blank" title="UofL developing robot to disinfect areas with coronavirus risk">UofL developing robot to disinfect areas with coronavirus risk</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-launches-decontamination-program-to-alleviate-mask-shortage-for-health-care-workers/" target="_blank" title="UofL launches decontamination program to alleviate mask shortage for health care workers">UofL launches decontamination program to alleviate mask shortage for health care workers</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-breakthrough-technology-shows-promise-fighting-novel-coronavirus/" target="_blank" title="UofL breakthrough technology shows promise fighting novel coronavirus">UofL breakthrough technology shows promise fighting novel coronavirus</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/3-d-printed-swabs-developed-at-uofl-to-help-fill-gap-in-covid-19-test-kits/" target="_blank" title="3-D printed swabs developed at UofL to help fill gap in COVID-19 test kits">3-D printed swabs developed at UofL to help fill gap in COVID-19 test kits</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-researchers-seek-new-drugs-to-fight-coronavirus-using-computers-in-kentucky-schools/" target="_blank" title="UofL researchers seek new drugs to fight coronavirus using computers in Kentucky schools">UofL researchers seek new drugs to fight coronavirus using computers in Kentucky schools</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/post/uofltoday/uofls-nationally-networked-lab-enables-researchers-to-safely-study-coronavirus/" target="_blank" title="UofL’s nationally networked lab enables researchers to safely study coronavirus">UofL’s nationally networked lab enables researchers to safely study coronavirus</a></li>
        <li><span><a class="external-link" href="http://www.uoflnews.com/post/uofltoday/uofl-researchers-addressing-urgent-need-for-knowledge-about-covid-19/" target="_blank" title="UofL researchers addressing urgent need for knowledge about COVID-19">UofL researchers addressing urgent need for knowledge about COVID-19</a></span></li>
        <li><a class="external-link" href="http://www.uoflnews.com/section/science-and-tech/uofl-engineering-students-producing-3-d-printed-face-shields-for-healthcare-professionals/" target="_blank" title="UofL engineering students producing 3-D printed face shields for healthcare professionals">UofL engineering students producing 3-D printed face shields for healthcare professionals</a></li>
        <li><a class="external-link" href="http://www.uoflnews.com/post/uofltoday/uofl-mathematician-working-on-disease-outbreak-model/" target="_blank" title="UofL mathematician working on disease outbreak model">UofL mathematician working on disease outbreak model</a></li>
        <li><span><a class="external-link" href="http://www.uoflnews.com/post/uofltoday/uofl-professor-leading-louisvilles-charge-against-coronavirus/" target="_blank" title="UofL professor leading Louisville’s charge against coronavirus">UofL professor leading Louisville’s charge against coronavirus</a></span></li>
    </ul>




