
@{
    ViewData["Title"] = "Calendar";
}

<Title>University of Louisville-Office of Research and Innovation :Calendar</Title>

<body>
    
    <div>
        <p>
    <h1> Calendar</h1>
       <br /> 
       <br />
        <h2>Upcoming Events</h2>
        <br />

        <p> <strong> Checkout our All Upcoming Office of Research and Innovations Events and Seminars</strong>
        <br />
        <br />
        <a>
            <img src="~/Images/Calendar Image.png" title="Picture of the Calendar"/>
        </a>
        
        
        
        
        </p>

        

    </div>








</body>