
@{
    ViewData["Title"] = "Calendar";
}

<Title>University of Louisville-Office of Research and Innovation :Calendar</Title>


<!--Main Body-->
<body>

    <!--Main Header-->
    <h1 alt="Main Title"> <strong>Calendar</strong></h1>
    <br />
    <br />
    <br />

    <!--Calendar Carousel-->
    <h3 alt="Carousel Title"> <strong>Seminars</strong></h3>
    <hr class="new1" />
    <br />
    <br />

    <div class="row">
        <div class="col-12">
            <!--Carousel Setup-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <!--Slide 1-->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Images/Carousel/CalendarCarousel/uofl hospital text.png" alt="First slide">
                        <div class="card">
                            <div class="card-body text-dark">
                                <h3 style="color:red" class="card-title"><strong> EpiHour Seminar Series</strong></h3>
                                <p style="font-size:16px" class="card-text"><strong><em>Trends in Hospitals’ Health Promotion Services Before and After the ACA</em></strong></p>
                                <p style="font-size:14px" class="card-text"><strong><em>All lectures take place Wednesdays, 4:00-5:00 PM in the Baxter I Auditorium</em></strong></p>
                                <p style="font-size:12px" class="card-text">
                                    This talk will focus on US hospitals’ delivery of health promotion services before and after the CHNA requirement,
                                    as well as the hospital and community characteristics associated with high levels
                                    of health promotion service delivery.
                                </p>
                                <br />
                                <a href="#" class="btn btn-danger">Reserve a seat</a>
                            </div>
                        </div>
                    </div>

                    <!--Slide 2-->
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Images/Carousel/CalendarCarousel/nscience.png" alt="Second slide">
                        <div class="card">
                            <div class="card-body text-dark">
                                <h3 style="color:red;" class="card-title"><strong>Seminars in Neuroscience</strong></h3>
                                <p style="font-size:16px" class="card-text"><strong><em>Seminars in Anatomical Sciences and Neurobiology Spring 2020</em></strong></p>
                                <p style="font-size:14px" class="card-text"><strong><em>All lectures take place Thursdays, 4:00-5:00 PM in the Baxter I Auditorium</em></strong></p>
                                <p style="font-size:12px" class="card-text">Sponsors: Dept. of Anatomical Sciences & Neurobiology, The Kentucky Biomedical Research & Infrastructure Network, Dept. of Neurological Surgery, Kentucky Spinal Cord Injury Research Center.</p>
                                <a href="#" class="btn btn-danger">Reserve a seat</a>
                            </div>
                        </div>
                    </div>

                    <!--Slide 3-->
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Images/Carousel/CalendarCarousel/Informatics.jpg" alt="Third slide">
                        <div class="card">
                            <div class="card-body text-dark">
                                <h3 style="color:red;" class="card-title"><strong>Biostatistics & Bioinformatics Virtual Info Session </strong></h3>
                                <p style="font-size:16px" class="card-text"><strong><em>Seminars in Anatomical Sciences and Neurobiology Spring 2020</em></strong></p>
                                <p style="font-size:14px" class="card-text"><strong><em> Lecture will take place Tuesday, 3:00pm-5:00pm in the Auditorium</em></strong></p>
                                <p style="font-size:12px" class="card-text">
                                    Learn how statistical reasoning and data can address major public health issues. Join us for a virtual information session with
                                    Dr. K.B. Kulasekera, Chair, Professor, Department of Bioinformatics & Biostatistics
                                </p>
                                <a href="#" class="btn btn-danger">RSVP</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Carousel Control-->

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                </a>
            </div>
        </div>
    </div>

    <br />
    <br />

    <!-- Upcoming Events-->
    <h3><strong>Events</strong></h3>
    <hr class="new1" />
    <br />
    <br />
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-dark">
                    <h3 class="card-title"><strong>University of Louisville Research Fundraiser</strong></h3>
                    <p style="font-size:16px" class="card-text"><strong><em>Department Of Anatomical Sciences and Neurobiology Spring 2020</em></strong></p>
                    <p style="font-size:14px" class="card-text"><strong><em>Takes place this Saturday Oct 4th, 4:00-5:00 PM in the Baxter I Auditorium</em></strong></p>
                    <p style="font-size:12px" class="card-text">Sponsors:Kentucky Spinal Cord Injury Research Center.</p>
                    <a href="#" class="btn btn-danger">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <!--Monthly Calendar-->
    <h3><strong> Schedule of Events and Seminars</strong></h3>
    <hr class="new1" />
    <br />
    <br />
    <p>
        <a> <img class="d-block w-100" src="~/Images/Calendar Image.png" title="Picture of the Calendar" /></a>

    </p>

    <br />
    <br/>


</body>