
@{
    ViewData["Title"] = "Calendar";
}

<Title>University of Louisville-Office of Research and Innovation :Calendar</Title>

<style>

    /*Calendar style edits*/

    .localist_widget_container li a {
        color: lightgray !important;
        text-decoration: underline;
    }

        .localist_widget_container li a:hover {
            color: #AD0000 !important;
        }

    .localist_widget_container .action_button a {
        background-color: white !important;
        color: black !important;
    }

    .localist_minicalendar_pager a {
        background-color: #AD0000 !important;
    }

    .localist_minicalendar_page_heading h1 {
        color: lightgray !important;
    }

    .localist_minicalendar_minicalendar td a:hover {
        background-color: #AD0000 !important;
    }
</style>

<!--Main Body-->
<body>

    <!--Main Header-->
    <h1 alt="Main Title"> <strong>Calendar</strong></h1>
    <br />
    <br />
    <br />


    <!--Monthly Calendar-->
    <h3><strong> Schedule of Events and Seminars</strong></h3>


    <div id="localist-widget-34604457" class="localist-widget"></div>
    <script defer type="text/javascript" src="https://events.louisville.edu/widget/combo?schools=louisville&types=25305%2C29528%2C28701%2C27213%2C27212%2C27214%2C30397559382267%2C25552&days=31&num=25&target_blank=1&html_descriptions=1&container=localist-widget-34604457&template=modern"></script>
    <div id="lclst_widget_footer">
        <a style="margin-left:auto;margin-right:auto;display:block;width:81px;margin-top:10px;" title="Widget powered by Localist Event Calendar Software" href="https://www.localist.com?utm_source=widget&utm_campaign=widget_footer&utm_medium=branded%20link">
            <img src="//d3e1o4bcbhmj8g.cloudfront.net/assets/platforms/default/about/widget_footer.png" alt="Localist Online Calendar Software" style="vertical-align: middle;" width="81" height="23">
        </a>
    </div>

  






</body>