
@{
    ViewData["Title"] = "Community";
}
<style>

    h3{

        text-align:center;
    }

   
</style>


<h1><strong>Community</strong></h1>

<br />
<br />
<br />
<h2><strong>HSC Office of Diversity and Inclusion </strong></h2>
<hr class="new1" />
<br />


    <h3 style="text-align:center">HSC ODI Welcome</h3>

   
<p style="text-align: center; ">The Health Science Center Office of Diversity and Inclusion at the University of Louisville welcomes and embraces our community of students, faculty and staff. 
    &nbsp;We seek to encourage and foster all our constituent's growth and development to allow for everyone to be successful on our campus. 
    &nbsp;By augmenting a culture and climate that demonstrates its belief that diversity and inclusion adds value to intellectual development, academic enrichment, patient care, research and community engagement, 
    we believe our campus will be at the forefront of opportunity and innovation.</p>

<p style="text-align: center; ">Our website provides a platform for our readers to explore the many programs, reports, events and activities from across the Health Science Center in one central repository that will benefit all of our faculty, staff, students and members of the community. 
    &nbsp;Should you have comments or questions about our diversity efforts or this website, please send feedback to&nbsp;<a class="uoflMail" href="http://louisville.edu/cgi-bin/uofl.mail?name=hscodi&amp;subject=feedback">
    hscodi@louisville.edu</a>&nbsp;.</p>

<br />
<br />

<h2> Center for Regulatory and Environmental Analytical Metabolomics</h2>
<hr class="new1" />
<br />
<br />

<h3>High School Students</h3>
<br />
<p><img src="~/Images/iwrnp1el.bmp" alt="high school students in yappert's lab" class="center" title="Outreach Yappert Lab"></p>
<p>High school and Junior High school students sponsored and mentored by the University of Louisville faculty <a href="https://louisville.edu/cream/outreach/cream-outreach-to-high-school-students" class="internal-link">
    <u style="color:#AD0000">listed to work on the projects of the Metabolomics Initiative</u></a>. 
    All authored and presented posters at various regional events like the Regional Science Fair, Dupont Manual High School.</p>
<br />
<br />

<h3>Undergraduate Students</h3>
<br />
<p><img src="~/Images/bdvd2izk.bmp" alt="Connor smith in lab" class="center" title="Connor Smith 2014"></p>
<p>Many University of Louisville <a href="https://louisville.edu/cream/outreach/cream-outreach-to-undergraduate-students" class="internal-link"><u style="color:#AD0000">undergraduate students</u></a>, 
and some from other institutions within Kentuckiana, receive hands-on instruction at CREAM. Undergraduate students participate in all aspects of research including conducting their own projects, 
developing analytical methods, and preparing platform and poster presentations.</p>
<br />
<br />

<h3>Visiting CREAM</h3>
<br />
<p><img src="~/Images/ylh4xx02.bmp" alt="GEM graduate students visit CREAM lab" class="center" title="GEM graduate students visiting CREAM Labs"></p>
<p>
    The mission of CREAM is to promote metabolomics research. Therefore, it is critical to us to not only provide metabolomics capabilities to the existing users, but also reach out to ensure other scientists are aware of the updated capability at CREAM.
    To inform potentially interested parties on the research program and service offered at CREAM,
    we will schedule visits on a need basis, at which time the general functions and service of CREAM are introduced.The mission of CREAM is to promote metabolomics research. Therefore, it is critical to us to not only provide metabolomics capabilities to the existing users, but also reach out to ensure other scientists are aware of the updated capability at CREAM.
    To inform potentially interested parties on the research program and service offered at CREAM,
    we will schedule visits on a need basis, at which time the general functions and service of CREAM are introduced.
</p>
