
@{
    ViewData["Title"] = "News";
}

<body>
    <h1>What's Happening Here</h1>
    <br />
    <br />
    <div>
        
        <h2><strong>News</strong></h2>
        <br />
        <br />
        <p>

            


        </p>
        
        <br />
        <br />
        <h2><strong>Announcements</strong></h2>
        <br />
        <br />
        <p>
        
        </p>
    
    
    
    
    </div>
    


</body>

