
@{
    ViewData["Title"] = "Main";
}
<link rel="stylesheet" href="css/site-styles.css">
<h1>Staffs and Faculty</h1>

<h4>Office of Research of Innovation</h4>
<img src="/Images/Carousel/Cynthia.png" alt="Role:XXXX ">
A name should be place here <br />
Office Phone number: <br />
Fax Number<br />
Email Address:<br />
Hours: Monday-Friday<br />
<img src="~/Images/Carousel/Kevim Gardner.png" alt="Role:XXXX ">
A name should be place here <br />
Office Phone number:<br />
Fax Number:<br />
Email Address: <br />
Hours: Monday-Friday<br />
<img src="~/Images/Carousel/McClain.png" alt="Role:XXXX ">
A name should be place here<br />
Office Phone number:<br />
Fax Number:<br /><br />
Email Address:
Hours: Monday-Friday<br />

<img src="~/Images/Carousel/McClain.png" alt="Role:XXXX ">
A name should be place here <br />
Office Phone number:<br />
Fax Number: <br />
Email Address:<br />
Hours: Monday-Friday<br />