
@{
    ViewData["Title"] = "Main";
}
<link rel="stylesheet" href="css/site-styles.css">
<h1>Staffs and Faculty</h1>
<style>
    body {
        color: black;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%; margin-bottom: 8px;">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:xx-large;">Cythina</h4>
                        <img src="/Images/Carousel/Cynthia.png" alt="Role:XXXX ">
                        <p class="card-text"> A name should be place here </p><br />
                        <p class="card-text">Office Phone number:</p> <br />
                        <p class="card-text"> Fax Number</p><br />
                        <p class="card-text"> Email Address:</p><br />
                        <p class="card-text"> Hours: Monday-Friday</p> <br />

                        <h4 class="card-title" style="font-size:xx-large;">Kevin Gardener</h4>
                        <img src="~/Images/Carousel/Kevim Gardner.png" alt="Role:XXXX ">
                        <p class="card-text"> A name should be place here </p><br />
                        <p class="card-text">Office Phone number:</p> <br />
                        <p class="card-text"> Fax Number</p><br />
                        <p class="card-text"> Email Address:</p><br />
                        <p class="card-text"> Hours: Monday-Friday</p> <br />

                        <h4 class="card-title" style="font-size:xx-large;">Kevin Gardener</h4>
                        <img src="~/Images/Carousel/Kevim Gardner.png" alt="Role:XXXX ">
                        <p class="card-text"> A name should be place here </p><br />
                        <p class="card-text">Office Phone number:</p> <br />
                        <p class="card-text"> Fax Number</p><br />
                        <p class="card-text"> Email Address:</p><br />
                        <p class="card-text"> Hours: Monday-Friday</p> <br />

                        <h4 class="card-title" style="font-size:xx-large;">McClain</h4>
                        <img src="~/Images/Carousel/McClain.png" alt="Role:XXXX ">
                        <p class="card-text"> A name should be place here </p><br />
                        <p class="card-text"> Office Phone number:</p> <br />
                        <p class="card-text"> Fax Number</p><br />
                        <p class="card-text"> Email Address:</p><br />
                        <p class="card-text"> Hours: Monday-Friday</p> <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


