
@{
    ViewData["Title"] = "Main";
}

<h1>Staffs and Faculty</h1>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%; margin-bottom: 8px;">
                    <div class="card-body ">
                        <div class="boxed">
                            <h4 class="card-title" style="font-size:xx-large;">Kevin Gardener</h4>
                            <img src="~/Images/Carousel/Kevim Gardner.png" alt=" Kevin Gardner Pic">
                            <hr class="new1" />
                            <p class="card-text"> Executive Vice President for Research & Innovation </p>
                            <hr class="new1" />
                            <p class="card-text">Office Phone number: 502-852-8373</p>
                            <hr class="new1" />
                            <p class="card-text">Email Address: <a class="email-link" href="mailto:kevin.gardner@louisville.edu" target="_self" title="Kevin H. Gardner">kevin.gardner@louisville.edu"</a></p>
                            <hr class="new1" />
                            <p class="card-text"> Hours: Monday-Friday</p>
                            <hr class="new1" />
                            <p class="card-text"><strong>Dr. Kevin Gardner</strong> is the University of Louisville’s executive vice president for research and innovation.
                            In his role, Gardner oversees the university’s research enterprise, including research development and administration, industry engagement and technology commercialization.
                            Before coming to UofL in 2020, Gardner served in various roles at the University of New Hampshire, including nine years in research leadership, first as director of strategic initiatives then as vice provost for research.
                            During his tenure there, he oversaw that institution’s rise from designation as a Carnegie Research High Research Activity (R2) university to Carnegie Very High Research Activity (R1) status.&nbsp;
                            He also led the development and rollout of a statewide plan to better engage industry with university research. &nbsp;
                            Prior to his arrival at New Hampshire, Gardner taught at Case Western Reserve University and Hofstra University. He also served as a research assistant at Clarkson and as an engineer in Walnut Creek, California.
                            Over his academic career, Gardner has served as PI or Co-PI on more than $60 million in external grants, published extensively and advised 39 graduate students.
                            Gardner earned his bachelor of science degree in civil engineering from Union College in Schenectady, New York. He earned his master’s and doctoral degrees in civil and environmental engineering from Clarkson University in Potsdam, New York.
                            </p>
                            
                            <br />
                        </div>
                        <br />
                        <br />

                        <div class="boxed">
                            <h4 class="card-title" style="font-size:xx-large;"> Craig McClain</h4>
                            <img src="~/Images/Carousel/McClain.png" alt="Role:XXXX ">
                            <hr class="new1" />
                            <p class="card-text"> Associate Vice President for Translational Research </p>
                            <hr class="new1" />
                            <p class="card-text"> Office Phone number:502-852-6128</p>
                            <hr class="new1" />
                            <p class="card-text">Email Address: <a class="email-link" href="mailto:Craig.McClain@louisville.edu" target="_self" title="Craig McClain">Craig.McClain@louisville.edu</a></p>
                            <hr class="new1" />
                            <p class="card-text"> Hours: Monday-Friday</p> <br />
                            <hr class="new1" />
                            <p class="card-text">
                                Craig McClain, MD, is a widely recognized expert in alcohol abuse, nutrition, and cytokine research, as well as hepatic drug metabolism.&nbsp;
                                He described the deleterious interactions in the liver between alcohol and acetaminophen (JAMA&nbsp; 244:251-253, 1980), and he was the first to describe dysregulated cytokines in alcoholic hepatitis (Hepatology 9:349-351, 1989—second most cited liver pathobiology article in <em>Hepatology</em>).
                                His laboratory currently focuses on nutrition and the gut:liver axis, especially as it relates to alcoholic liver disease.&nbsp;
                                He has had continuous federal funding for his alcohol research since 1977.&nbsp;
                                Currently, he is funded by two NIH R01s, two NIH U01s and is Multiple PI on an NIH T35.&nbsp;
                                He is also funded by the Department of Defense.&nbsp;
                                He has received multiple awards, such as the American Gastroenterology Association Foundation Research Mentoring Award, the Elizabeth Hurlock Beckman award for mentoring,
                                &nbsp;the Grace A Goldsmith Award in Nutrition, and teaching awards such as Outstanding Gastroenterology Education at UofL. &nbsp;He also is Past President of the American College of Nutrition.&nbsp;
                                He has served on several NIH and VA Study Sections.&nbsp; He was the first physician member of the NIH Peer Review Advisory Committee (PRAC) and currently serves on the NIAAA National External Advisory Council and on the NIH Council of Councils.&nbsp;
                                He has published over 340 peer-reviewed articles and 100 book chapters/reviews, and he has mentored over 100 medical students, residents, GI fellows, graduate students and post-doctoral fellows, including over 25 junior faculty members with K-type career development awards.&nbsp;
                                Currently he is mentor on 5 NIH K-awards and an AASLD Career Development award.
                              
                            </p>
                            <br />
                        </div>
                        <br />
                        <br />

                        <div class="boxed">
                            <h4 class="card-title" style="font-size:xx-large;">Kevyn E. Merten</h4>
                            <img src="~/Images/ylh4xx02.bmp" alt="Kevyn E. Merten ">
                            <hr class="new1" />
                            <p class="card-text">Associate Vice President for Research and Innovation</p>
                            <hr class="new1" />
                            <p class="card-text">Office Phone number:502-852-1637</p>
                            <hr class="new1" />
                            <p class="card-text">Email Address: <a class="email-link" href="mailto:Kevyn.Merten@louisville.edu" target="_self" title="Kevyn Merten">Kevyn.Merten@louisville.edu</a></p>
                            <hr class="new1" />
                            <p class="card-text"> Hours: Monday-Friday</p>
                            <hr class="new1" />
                            <p class="card-text">
                                <strong>Kevyn E. Merten, Ph.D.,</strong> is an Adjunct Assistant Professor in the Department of Pharmacology and Toxicology, an Associate Vice President for Research and Innovation, and Chief of Staff for the Executive Vice President for Research and Innovation at the University of Louisville.
                                In these roles, he is responsible for the central sponsored programs activities that support the university research community. Prior to accepting these newly created positions in April of 2012, Kevyn served as the Vice President for Drug Development at Pradama, Inc., a pharmaceutical company focused on the development and commercialization of products to treat bone diseases and disorders.
                                With Pradama, Kevyn oversaw the development of the company’s small molecule bone-targeting platform technology and led programs dedicated toward the development of anabolic agents for the treatment of osteoporosis, antibiotics for the treatment of osteomyelitis, and antineoplastic agents for the treatment of bone metastases.
                                This work, which was supported by $2M+ in federal and venture capital backed investments and numerous national and international collaborations, led to the filing of three new patents for the company.
                                In 2013, Kevyn was recognized as a “Forty Under 40” honoree by Business First Louisville, an award that recognizes members of the Louisville-area business community for career achievements, community service, and the potential to become the next generation of community business leaders.
                                He holds an M.S. and Ph.D. in Pharmacology and Toxicology from the University of Louisville where he was an NIEHS Environmental Health Sciences Trainee and a B.S. in Agricultural Biotechnology from the University of Kentucky.
                            </p>
                            <br />
                        </div>
                        <br />
                        <br />


                        <div class="boxed">
                            <h4 class="card-title" style="font-size:xx-large;">Cythina Logsdon</h4>
                            <img src="/Images/Carousel/Cynthia.png" alt="Role:XXXX ">
                            <hr class="new1" />
                            <p class="card-text">Director of Research Academic Programs</p>
                            <hr class="new1" />
                            <p class="card-text">Office Phone number:502-852-3791</p>
                            <hr class="new1" />
                            <p class="card-text">Email Address: <a class="email-link" href="mailto:mimia.logsdon@louisville.edu" target="_self" title="M. Cynthia Logsdon">mimia.logsdon@louisville.edu</a></p>
                            <hr class="new1" />
                            <p class="card-text"> Hours: Monday-Friday</p>
                            <hr class="new1" />
                            <p class="card-text">
                                <strong>Cynthia Logsdon, PhD, WHNP-BC, FAAN,</strong> is Director of Research Academic Programs within the University of Louisville’s Executive Vice President for Research and Innovation.
                                Logsdon brings a great deal of practical and academic experience to her position. She began her career in nursing practice before joining the university in 2000 as a faculty/researcher.
                                In addition to her role with EVPRI, she also is a tenured professor in the UofL School of Nursing. Logsdon's research experience includes serving as co-investigator of several National Science Foundation awards
                                in relation to adaptive robotic nursing assistants for physical tasks in hospitals and also collaborative human-machine interfaces and their impact on future nurses.
                                She also has explored research commercialization, receiving funding through UofL’s NSF I-Corps site program for the development of a smart phone app to prevent maternal mortality.
                                Logsdon holds an undergraduate degree in nursing from Spalding University and master of science and doctoral degrees in nursing, both from Indiana University.
                            </p>
                            <br />
                        </div>
                        <br />
                        <br />





                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

