
@{
    ViewData["Title"] = "Undergraduate";
}


<h1 style="color: white">Undergraduate</h1>




<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="site.css">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%">
                    <img src="/images/student/experience.png">
                </div>
            </div>
        </div>
    </div>
</head>


<body>
    <!-- Pages -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Unversity Wide Undergraduate Research and Community Engagement Symposium</h5>
                        <hr class="new1" />
                        <p class="card-text">2020 Undergraduate Arts & Research Showcase</p>
                        <p class="card-text">Congratulations to the 2020 Showcase Winners!</p>
                        <a alt="symposium" href="http://louisville.edu/provost/ug-research/showcase" class="btn btn-primary">Go to the Symposium</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Undergraduate Research Scholar Grants Awards</h5>
                        <hr class="new1" />
                        <p class="card-text">The primary purpose of Undergraduate Research Scholar (USR) is to enrich the research, scholarship and creative arts experience of the undergraduate student by involving the student in research collaboration with a faculty mentor. </p>
                        <p class="card-text">Students are encouraged to present a poster, or an equivalent demonstration of the research, on the Undergraduate Research Day.</p>
                        <p class="card-text">The student may request up to $300 (dry lab/creative activity) or $500 (wet lab) for supplies and expenses required for conducting the research or creative activity. </p>
                        <a alt="viewRecipientsF19-S20" href="https://louisville.edu/research/students/undergrad-grad/urs/fall2019-spring2020" class="btn btn-primary">View Fall 2019 - Spring 2020 Scholar Grant Award Recipients</a>
                        <br />
                        <a alt="viewRecipientsF18-S19" href="https://louisville.edu/research/students/undergrad-grad/urs/fall2018-spring2019" class="btn btn-primary">View Fall 2018 - Spring 2019 Scholar Grant Award Recipients</a>
                        <br />
                        <a alt="viewRecipientsF17-S18" href="https://louisville.edu/research/students/undergrad-grad/urs/fall2017-spring2018" class="btn btn-primary">View Fall 2017 - Spring 2018 Scholar Grant Award Recipients</a>
                        <br />
                        <a alt="viewRecipientsF16-S17" href="https://louisville.edu/research/students/undergrad-grad/urs/fall2016-spring2017" class="btn btn-primary">View Fall 2016 - Spring 2017 Scholar Grant Award Recipients</a>
                        <br />
                        <a alt="applyGrantAward" href="https://louisville.edu/research/students/undergrad-grad/urs/undergraduate-research-scholar-grant-application-urs" class="btn btn-primary">Download Application Form for Student Research Scholar Grants Award</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">UofL Honors Program</h5>
                        <hr class="new1" />
                        <p class="card-text">The Honors Program provides students with the best of both worlds in terms of college experience: the intimacy of a small college combined with the vast resources of a national research institution.</p>
                        <p class="card-text">Whether working side-by-side with faculty on cutting edge research projects, exploring international destinations, or serving the local community, Honors students have the chance to participate in unparalleled learning opportunities.</p>
                        <p class="card-text">Honors students may major in any undergraduate program in the university and are required to take at least one Honors course per year as well as maintain a 3.35 GPA.</p>
                        <a alt="honors" href="http://louisville.edu/honors/" class="btn btn-primary">Go to UofL Honors Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card.new1" style="width: 100%;">
                    <div class="card-body text-light">
                        <h5 class="card-title" style="font-size:xx-large;">Undergraduate Research Opportunities</h5>
                        <hr class="new1" />
                        <a alt="internal" href="https://louisville.edu/research/students/opportunities/undergrad-grad/internal" class="btn btn-primary">Internal Research and Funding Opportunities for Undergraduates</a>
                        <br />
                        <a alt="external" href="https://louisville.edu/research/students/opportunities/undergrad-grad/external" class="btn btn-primary">External Research Opportunities for Undergraduates</a>
                        <br />
                        <a alt="summer" href="https://louisville.edu/research/students/opportunities/undergrad-grad/summer" class="btn btn-primary">Undergraduate Summer Research Opportunity Programs</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

</body>

</html>
