
@{
    ViewData["Title"] = "Main";
}

<h1>Compliance and Protection</h1>


<br />
<br />
<h3 alt="Proposal Forms" style="color: white"><strong>Compliance and Protection</strong></h3>
<hr class="new1" />

<div class="row">

    <!--General Proposals-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Proposal Forms" class="card-title"><strong>Whistleblower Protection</strong></h5>
                <p class="card-text"> <a href="https://louisville.edu/research/common/pcf-form" title="Proposal Clearance Form"><strong>Employee Whistleblower Protection Notice</strong></a> </p>
                <p class="card-text"><a href="https://louisville.edu/research/common/pcf-instructions" title="Grant/Contract Proposal"><strong>Duty To Report and Non-Retaliation</strong></a> </p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission instructions"><strong>Report</strong></a>
            </div>
        </div>
    </div>

    <!--Contactor and Other-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Graduates" class="card-title"><strong>Institutional Compliance</strong></h5>
                <p class="card-text"><a href="https://louisville.edu/research/spa/subrecipient-monitoring/fdp-subrecipient-contractor-determination-checklist" title="Subaward/Contractor Determination for Federal Awards"><strong>UofL Institutional Compliance Directory</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/forms/resolveuid/b68d1441fb164281bd3639bf419c88d7" title="Subrecipient Commitment Form and Instructions"><strong>Compliance Hotline</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission Instructions"><strong>Call Hotline</strong></a>
            </div>
        </div>
    </div>

    <!--F&A-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Assistance" class="card-title"><strong>Department of Environmental Health and Safety (DEHS)</strong></h5>
                <p class="card-text"><a href="http://louisville.edu/research/common/f-a-reduction-cost-burdening-request-form" title="F&A Reduction/Cost-Burdening"><strong>Institutional Biosafety Committee (IBC)</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/fa-rate-agreement" title="F&A Rate Agreement (PDF) - (2019)"><strong>Radiation Safety Committee (RSC)</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-primary" title="Submission Instructions"><strong>Contact Main Office</strong></a>
            </div>
        </div>
    </div>



</div>
<br />
<br />