
@{
    ViewData["Title"] = "Main";
}

<h1>Compliance and Protection</h1>


<br />
<br />
<h3 alt="Proposal Forms"><strong>Compliance and Protection</strong></h3>
<hr class="new1" />

<div class="row">

    <!--Whistle Blower Protection-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body">
                <h5 alt="Proposal Forms" class="card-title"><strong>Whistleblower Protection</strong></h5>
                <p class="card-text"> <a href="http://louisville.edu/compliance/ico/compliance-news/employee-whistleblower-protection-notice" title="Whistle Blower Protection">Employee Whistleblower Protection Notice</a> </p>
                <p class="card-text"><a href="https://louisville.edu/policies/policies-and-procedures/pageholder/pol-duty-to-report-and-non-retaliation" title="Duty to Report">Duty To Report and Non-Retaliation</a> </p>
                <a alt="button" href="http://louisville.edu/compliance/ico/hotline/" class="btn btn-primary" title="Report Button"><strong>Report</strong></a>
            </div>
        </div>
    </div>

    <!--Institutional Compliance-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body ">
                <h5 alt="Graduates" class="card-title"><strong>Institutional Compliance</strong></h5>
                <p class="card-text"><a href="http://louisville.edu/compliance/ico/directory" title="Institutional Compliance Directory">UofL Institutional Compliance Directory</a></p>
                <p class="card-text"><a href="http://louisville.edu/compliance/ico/hotline/" title="Compliance Hotline">Compliance Hotline</a></p>
                <a alt="button" href="tel: 18778521167" class="btn btn-primary" title="Call Button"><strong>Call Hotline</strong></a>
            </div>
        </div>
    </div>

    <!--Environmental Compliance-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body ">
                <h5 alt="Assistance" class="card-title"><strong>Department of Environmental Health and Safety (DEHS)</strong></h5>
                <p class="card-text"><a href="https://louisville.edu/dehs/biosafety/ibc" title="Institutional Biosafety Committee">Institutional Biosafety Committee (IBC)</a></p>
                <p class="card-text"><a href="http://louisville.edu/dehs/rad-safety/rad-committee" title="Radiation Safety Committee">Radiation Safety Committee (RSC)</a></p>
                <a alt="button" href="tel: +5028526670" class="btn btn-primary" title="Main office Contact"><strong>Contact Main Office</strong></a>
            </div>
        </div>
    </div>



</div>
<br />
<br />