
@{
    ViewData["Title"] = "Main";
}



       <head><title>About the University</title></head>
      
       <body>
           <article>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-12">
                           <div class="card.new1">
                               <div class="card-body text-light">
                                   <h2 class="card-title" style="font-size:xx-large;">Mission Statement</h2>
                                   <hr class="new1" />
                                   <p class="card-text">
                                       The driving goal of the Office of the Executive Vice President for Research and Innovation is to promote and support research,
                                       scholarship, and creative activities; to assist faculty and staff in obtaining intramural and extramural support; to serve as an
                                       advocate for the value of research and scholarly activity in an educational setting; to enhance the vitality of campus-based
                                       research; and to encourage its use to enrich education, enhance technology transfer and serve the community.
                                   </p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

                 

                   <br />
                   <br />
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-12">
                               <div class="card.new1">
                                   <div class="card-body text-light">
                                       <h2 class="card-title" style="font-size:xx-large;">Responsibilites</h2>
                                       <hr class="new1" />
                                       <p class="card-text">
                                           The Executive Vice President for Research and Innovation is responsible for developing the institutional research policies and procedures,
                                           and coordinating and providing oversight of research, scholarship, and creative activity at the University. In addition, the office oversees
                                           the identification, marketing and licensing of intellectual property developed at UofL so as to enhance economic development initiatives.
                                           The Executive Vice President for Research and Innovation has oversight and is responsible for the development of translational research
                                           to help move discoveries from the conceptual stage through development of ideas for the good of humanity. In addition, products, and economic
                                           development opportunities are fostered using business development, technology transfer and university operated research parks.
                                           The Office is responsible for the development and implementation of the institution’s research-related portions of the Strategic Plan 2020.
                                           The Office of the Executive Vice President for Research and Innovation serves as a University-wide resource for identifying and capitalizing
                                           on intramural and extramural resources for research and scholarship for UofL faculty, staff and students.
                                           The Office serves as the liaison with granting agencies, develops policies and procedures to assure compliance with Federal and state regulations
                                           as well as granting agency policies and procedures, and identifies funding for faculty research interests by matching faculty with potential funding
                                           sources and/or contract opportunities. The Executive Vice President for Research
                                           and Innovation provides business, industry and foundations with information concerning the University’s research capabilities and stimulates the
                                           development of collaborations between them and the University.  This is accomplished through the Industry Engagement Office and in conjunction with
                                           the VP for Community Engagement.  In addition, it works with the Executive Vice President for Health Affairs to provide opportunities in Clinical
                                           and Translational Research.

                                       </p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
</article>
       </body>
