@{
    ViewData["Title"] = "Funding";
}




<h1>Research Funding</h1>


<br />
<br />
<h3 alt="Funding Page"><strong>Funding Opportunities</strong></h3>
<hr class="new1" />
<br />
<br />
<!--Notification Button-->
<a href="https://mailchi.mp/louisville.edu/limited-submission-sign-up" class=" btn btn-primary" style="font-size:20px; text-align:center;">Get Notified of New Funding Opportinities</a>
<br />
<br />
<div class="row">

    <!--External Funding-->
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Limited Submission" class="card-title"><strong>Funding</strong></h5>
                <p class="card-text"> <a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/overview" title="Limited Submission"><strong>Limited Submission - limited number of proposals per institution. Requires Internal Proposal to the Office of Research</strong></a> </p>
                <p class="card-text"><a href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/federal-grants" title="Federal Grant Options"><strong>Federal Grant - Envrionmental Protection Agency, National Institute of Health or National Sciene Foundation</strong></a> </p>
                <a alt="button" href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/funding-notification-services" class="btn btn-primary" title="Submission instructions"><strong>Get Notified</strong></a>
            </div>
        </div>
    </div>
</div>
<!--Internal Funding-->
<div class="row">
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Internal Grants" class="card-title"><strong>Internal</strong></h5>
                <p class="card-text"><a href="http://louisville.edu/research/support/internal" title="Internal Grant Opportunities"><strong>Internal Grants that are sponsored by the Office Of Research</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/support/internal/ceg" title="COMPETITIVE ENHANCEMENT GRANT - CEG"><strong>Competitive Enhancement Grant - CEG</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/students/undergrad-grad/internal" class="btn btn-primary" title="More Internal Opportunities"><strong>Find More</strong></a>
            </div>
        </div>
    </div>
</div>
<!--COVID Funding-->

<div class="row">
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="COVID-19" class="card-title"><strong>COVID-19 Grants</strong></h5>
                <p class="card-text"><a href="https://www.grants.gov/web/grants/view-opportunity.html?oppId=328584" title="CDC Sponsored"><strong>CDC Sponsored</strong></a></p>
                <p class="card-text"><a href="http://www.treatearly.org/" title="CETF Fund"><strong>COVID-19 Early Treatment Fund</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/covid19resources/resources" class="btn btn-primary" title="More COVID Info"><strong>COVID Resources</strong></a>
            </div>
        </div>
    </div>
</div>



