@{
    ViewData["Title"] = "Funding";
}




<h1 style="color: white">Research Funding</h1>

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="site.css">

</head>

<style>
    body {
        color: black;
    }

    .col-12 {
        color: rgb(139, 157, 161);
    }
</style>
<body>
    <br />
    <br />
    <h3 alt="Proposal Forms"><strong>Proposal Forms</strong></h3>
    <hr class="new1" />
    <br />
    <br />
    <div class="row">

        <!--General Proposals-->
        <div class="col">
            <div class="card.new1">
                <div class="card-body text-light">
                    <h5 alt="Limited Submission" class="card-title"><strong>Funding</strong></h5>
                    <p class="card-text"> <a href="https://louisville.edu/research/common/pcf-form" title="Proposal Clearance Form"><strong>Limited Submission - limited number of proposals per institution. Requires Internal Proposal to the Office of Research</strong></a> </p>
                    <p class="card-text"><a href="https://louisville.edu/research/common/pcf-instructions" title="Grant/Contract Proposal"><strong>Federal Grant - Envrionmental Protection Agency, National Institute of Health or National Sciene Foundation</strong></a> </p>
                    <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission instructions"><strong>Availble Options</strong></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col">
        <div class="card.new1">
            <div class="card-body text-light">
                <h5 alt="Graduates" class="card-title"><strong>Internal</strong></h5>
                <p class="card-text"><a href="https://louisville.edu/research/spa/subrecipient-monitoring/fdp-subrecipient-contractor-determination-checklist" title="Subaward/Contractor Determination for Federal Awards"><strong>Internal Grants that are sponsored by the Office Of Research</strong></a></p>
                <p class="card-text"><a href="http://louisville.edu/research/common/forms/resolveuid/b68d1441fb164281bd3639bf419c88d7" title="Subrecipient Commitment Form and Instructions"><strong>Subrecipient Commitment Form and Instructions</strong></a></p>
                <a alt="button" href="http://louisville.edu/research/common/pcf-instructions" class="btn btn-danger" title="Submission Instructions"><strong>Submit Form</strong></a>
            </div>
        </div>
    </div>
    </div>

    <br />
    <br />
    <!-- Pages -->
    @*<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%; margin-bottom: 8px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:xx-large;">Limited Submission Opportunities</h5>
                        <p class="card-text">Information updates regarding researchers</p>
                        <p class="card-text">Information updates regarding researchers</p>
                        <p class="card-text">Information updates regarding researchers</p>
                        <p class="card-text">Information updates regarding researchers</p>
                        <a href="#" class="btn btn-secondary">More Information</a>
                    </div>
                </div>
            </div>-->

            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size:xx-large;">Large Grant Opportunities</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-secondary">More Information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</body>

</html>